/*============== TOPIC NAME ==============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/*=============== VARIABLES ===============*/
/*========== Font Style ==========*/
/*========== Colors ==========*/
/*========== Font Weights ==========*/
/*========== Font Sizes ==========*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  /*========== General Setup ==========*/
  background-color: #0f2c59;
  font-family: "Montserrat", sans-serif;
  font-size: 1.05rem;
  font-weight: 400;
  color: white;
  letter-spacing: 0.2px;
  /*=============== REUSABLE CLASSES ===============*/
  /* test class */
}
body ul {
  list-style: none;
}
body a {
  text-decoration: none;
}
body img {
  max-width: 100%;
  height: auto;
}
body .big-title {
  font-size: 2.95rem;
  font-weight: 700;
}
body .bigger-title {
  font-size: 4.7rem;
  font-weight: 700;
}
body .subtitle {
  font-size: 1.3rem;
  font-weight: 600;
}
body .white-container {
  background-color: #f4f4f4;
  color: #4e4e4e;
}
body .white-container .bigger-title,
body .white-container .big-title,
body .white-container .subtitle {
  color: #0f2c59;
}
body .root-test-div {
  height: 50vh;
}

body {
  background-color: #FFFFFF;
}
body .mainPage header {
  width: 1400px;
  height: 67px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 14px;
  margin-left: 260px;
}
body .mainPage header nav ul {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
body .mainPage header nav ul li {
  list-style-type: none;
}
body .mainPage header nav ul li img {
  margin-left: 5px;
  cursor: pointer;
}
body .mainPage header nav ul li a {
  text-decoration: none;
  color: #000000;
  font-weight: 400;
}
body .mainPage header nav ul li button {
  font-weight: 400;
  font-size: 18px;
  color: #FBFBFB;
  width: 138px;
  height: 47px;
  background-color: #0F2C59;
  border-radius: 23px;
  align-items: center;
  border: none;
  display: flex;
  justify-content: space-around;
  padding: 8px;
  margin-top: -14px;
  cursor: pointer;
}
body .serit header {
  width: 1920px;
  height: 171px;
  margin-top: 20px;
  background-color: #0F2C59;
}
body .serit header p {
  font-size: 4.7rem;
  font-family: 700;
  margin-left: 600px;
  padding-top: 40px;
}
body .tanitim p {
  margin-top: 50px;
  color: #0F2C59;
  text-align: center;
  font-size: 2.95rem;
  font-weight: 700;
}
body .yonetim {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
body .yonetim .members p {
  color: #000000;
}
body .yonetim .members h3 {
  color: #0F2C59;
  font-size: 1.3rem;
}
body .yonetim .members img {
  width: 250px;
}
body .yonetim .members button {
  background-color: #0F2C59;
  border-radius: 35px;
  width: 230px;
  height: 55px;
  border: none;
  display: flex;
  justify-content: space-around;
}
body .yonetim .members button p {
  font-weight: 400;
  font-size: 32px;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  padding-left: 40px;
  display: flex;
  justify-content: space-around;
  padding-right: 50px;
  padding-top: 9px;
}
body .yonetim .members button img {
  width: 100px;
  height: 50px;
  padding-left: 60px;
  padding-top: 12px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-around;
}
body .tanitim2 p {
  margin-top: 50px;
  color: #0F2C59;
  text-align: center;
  font-size: 2.95rem;
  font-weight: 700;
}
body .kaptan {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
body .kaptan .team p {
  color: #000000;
}
body .kaptan .team h3 {
  color: #0F2C59;
  font-size: 1.3rem;
}
body .kaptan .team img {
  width: 250px;
}
body .kaptan .team button {
  background-color: #0F2C59;
  border-radius: 35px;
  width: 230px;
  height: 55px;
  border: none;
  display: flex;
  justify-content: space-around;
}
body .kaptan .team button p {
  font-weight: 400;
  font-size: 32px;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  padding-left: 40px;
  display: flex;
  justify-content: space-around;
  padding-right: 50px;
  padding-top: 9px;
}
body .kaptan .team button img {
  width: 100px;
  height: 50px;
  padding-left: 60px;
  padding-top: 12px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-around;
}/*# sourceMappingURL=main.css.map */