/*============== TOPIC NAME ==============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/*=============== VARIABLES ===============*/
/*========== Font Style ==========*/
/*========== Colors ==========*/
/*========== Font Weights ==========*/
/*========== Font Sizes ==========*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  /*=============== SETUP ===============*/
  background-color: #0f2c59;
  font-family: "Montserrat", sans-serif;
  font-size: 1.05rem;
  font-weight: 400;
  color: white;
  letter-spacing: 0.2px;
  /*=============== REUSABLE CSS CLASSES ===============*/
  /* To create a container with a white background and contrasted texts */
  /* Top part of the subpages */
  /* =============== RESPONSIVE TYPOGRAPHY AND STRUCTURES =============== */
  /* First breakpoint */
  /* Second breakpoint */
  /* test class */
}
body ul {
  list-style: none;
}
body a {
  color: white;
  text-decoration: none;
}
body img {
  max-width: 100%;
  height: auto;
}
body .container {
  width: 100%;
  padding-inline: 10%;
}
body .bigger-title {
  font-size: 3.18rem;
  font-weight: 700;
}
body .big-title {
  font-size: 3.18rem;
  font-weight: 700;
}
body .subtitle {
  font-size: 1.55rem;
  font-weight: 600;
}
body .white-container {
  background-color: #f4f4f4;
  color: #4e4e4e;
}
body .white-container .bigger-title,
body .white-container .big-title,
body .white-container .subtitle,
body .white-container a {
  color: #0f2c59;
}
body .title-area {
  position: relative;
  display: grid;
  align-content: center;
  width: 100%;
  height: 115px;
  text-align: center;
  padding-inline: 3rem;
  background-color: #0f2c59;
  overflow: hidden;
  margin-top: 5rem;
}
body .title-area img {
  position: absolute;
  height: 100%;
  width: auto;
  top: 0;
}
body .title-area img:nth-child(1) {
  transform: translateX(-50%);
  left: 0;
}
body .title-area img:nth-child(2) {
  transform: translateX(50%);
  right: 0;
}
@media screen and (max-width: 1200px) {
  body .bigger-title,
  body .big-title {
    font-size: 2.1rem;
  }
  body .subtitle {
    font-size: 1rem;
  }
  body .title-area {
    height: 95px;
  }
}
@media screen and (max-width: 768px) {
  body {
    font-size: 0.89rem;
  }
  body .container {
    padding-inline: 5%;
  }
  body .bigger-title,
  body .big-title {
    font-size: 1.2rem;
  }
  body .title-area {
    height: 65px;
  }
}
body .root-test-div {
  height: 50vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
}
body .white-container {
  position: relative;
  padding-block: 4rem;
  text-align: center;
}
body .white-container .big-title {
  margin-block: 6rem 2rem;
}
body .white-container .manage-board {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
body .white-container .manage-board .club-members {
  width: 300px;
  display: grid;
  place-items: center;
  row-gap: 1.3rem;
  padding: 2.4rem 1rem 2.4rem;
  border-radius: 20px;
  box-shadow: rgba(15, 45, 89, 0.2117647059) 0px 0px 5px 0px;
  transition: transform 0.4s, box-shadow 0.4s;
}
body .white-container .manage-board .club-members img {
  width: 75%;
  transition: transform 0.4s;
}
body .white-container .manage-board .club-members .member-link {
  display: flex;
  align-items: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  font-size: 1.25rem;
  color: #e5e5e5;
  background-color: #0f2c59;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  transition: 0.6s;
}
body .white-container .manage-board .club-members .member-link i,
body .white-container .manage-board .club-members .member-link p {
  transition: transform 0.6s;
}
body .white-container .manage-board .club-members .member-link i {
  font-size: 1.75rem;
}
body .white-container .manage-board .club-members .member-link:hover {
  text-shadow: 0 0 10px rgba(229, 229, 229, 0.5098039216);
  transform: scale(105%);
  box-shadow: rgba(15, 45, 89, 0.5882352941) 0 0 20px 0px;
}
body .white-container .manage-board .club-members .member-link:hover p {
  transform: translateX(-30px);
}
body .white-container .manage-board .club-members .member-link:hover i {
  transform: translateX(100px) rotate(360deg);
}
body .white-container .manage-board .club-members:hover {
  box-shadow: rgba(15, 45, 89, 0.1960784314) 0px 7px 29px 0px;
}
body .white-container .manage-board .club-members:hover img {
  transform: scale(110%) translateY(-10px);
}
@media screen and (max-width: 1200px) {
  body .white-container .big-title {
    margin-block: 3rem 2rem;
  }
}
@media screen and (max-width: 768px) {
  body .white-container .manage-board {
    gap: 2rem;
  }
  body .white-container .manage-board .club-members {
    width: 300px;
  }
  body .white-container .manage-board .club-members img {
    width: 70%;
  }
}
@media screen and (max-width: 698px) {
  body .white-container .manage-board {
    flex-direction: column;
  }
  body .white-container .manage-board .club-members {
    width: 300px;
    padding-block: 2rem 1rem;
  }
  body .white-container .manage-board .club-members img {
    width: 70%;
  }
}

.vector-1 {
  position: absolute;
  z-index: 0;
  top: 200px;
}
.vector-1 img {
  width: 100%;
  height: auto;
}/*# sourceMappingURL=main.css.map */