/*============== TOPIC NAME ==============*/
@import "../../../../assets/css/root";

@mixin ort($dis, $vert) {
  display: $dis;
  justify-content: $vert;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;

  .white-container {
    position: relative;
    padding-block: 4rem;
    text-align: center;

    .big-title {
      margin-block: 6rem 2rem;
    }
  
    .manage-board {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
  
      .club-members {
        width: 300px;
        display: grid;
        place-items: center;
        row-gap: 1.3rem;
        padding: 2.4rem 1rem 2.4rem;  
        border-radius: 20px;
        box-shadow: #0f2d5936 0px 0px 5px 0px;
        transition: transform 0.4s, box-shadow 0.4s;

        img {
          width: 75%;
          transition: transform 0.4s;
        }
  
        .member-link {
          display: flex;
          align-items: center;
          column-gap: 0.5rem;
          font-size: 1.25rem;
          color: #e5e5e5;
          background-color: $first-color;
          padding: 0.5rem 1rem;
          border-radius: 25px;
          transition: 0.6s;
  
          i,
          p {
            transition: transform 0.6s;
          }
  
          i {
            font-size: 1.75rem;
          }
  
          &:hover {
            text-shadow: 0 0 10px #e5e5e582;
            transform: scale(105%);
            box-shadow: #0f2d5996 0 0 20px 0px;
  
            p {
              transform: translateX(-30px);
            }
  
            i {
              transform: translateX(100px) rotate(360deg);
            }
          }
        }

        &:hover {
          box-shadow: #0f2d5932 0px 7px 29px 0px;
  
          img {
            transform: scale(110%) translateY(-10px);
          }
        }
      }
    }

    @media screen  and (max-width: 1200px){
      .big-title{
        margin-block: 3rem 2rem;
      }
    }

    @media screen and (max-width: 768px) {
      .manage-board{
        gap: 2rem;
        .club-members{
          width: 300px;

          img{
            width: 70%;
          }
        }
      }
    }

    @media screen and (max-width: 698px) {
      .manage-board{
        flex-direction: column;

        .club-members{
          width: 300px;
          padding-block: 2rem 1rem;

          img{
            width: 70%;
          }
        }
      }
    }
  }
}

.vector-1{
  position: absolute;
  z-index: 0;
  top: 200px;

  img{
    width: 100%;
    height: auto;
  }
}