@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/*=============== VARIABLES ===============*/
/*========== Font Style ==========*/
/*========== Colors ==========*/
/*========== Font Weights ==========*/
/*========== Font Sizes ==========*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  /*=============== SETUP ===============*/
  min-height: 100vh;
  background-color: #0f2c59;
  font-family: "Montserrat", sans-serif;
  font-size: 1.05rem;
  font-weight: 400;
  color: white;
  letter-spacing: 0.2px;
  line-height: 1.4;
  /*=============== REUSABLE CSS CLASSES ===============*/
  /* To create a container with a white background and contrasted texts */
  /* Top part of the subpages */
  /* =============== RESPONSIVE TYPOGRAPHY AND STRUCTURES =============== */
  /* First breakpoint */
  /* Second breakpoint */
}
body ul {
  list-style: none;
}
body a {
  color: white;
  text-decoration: none;
}
body img {
  max-width: 100%;
  height: auto;
}
body .container {
  width: 100%;
  padding: 3.35rem 10%;
}
body .bigger-title {
  font-size: 3.18rem;
  font-weight: 700;
  padding: 1.25rem 3rem;
}
body .big-title {
  font-size: 3.18rem;
  font-weight: 700;
}
body .subtitle {
  font-size: 1.55rem;
  font-weight: 600;
}
body .white-container {
  background-color: #f4f4f4;
  color: #4e4e4e;
}
body .white-container .bigger-title,
body .white-container .big-title,
body .white-container .subtitle,
body .white-container a {
  color: #0f2c59;
}
body .title-area {
  position: relative;
  display: grid;
  align-content: center;
  width: 100%;
  min-height: 85px;
  text-align: center;
  background-color: #0f2c59;
  overflow: hidden;
  margin-top: 5rem; /* space for navbar */
}
body .title-area img {
  position: absolute;
  height: 100%;
  width: auto;
  top: 0;
}
body .title-area img:nth-child(1) {
  transform: translateX(-50%);
  left: 0;
}
body .title-area img:nth-child(2) {
  transform: translateX(50%);
  right: 0;
}
body .ender {
  padding-bottom: 13.5rem !important;
}
@media screen and (max-width: 750px) {
  body .ender {
    padding-bottom: 17.5rem !important;
  }
}
@media screen and (max-width: 500px) {
  body .ender {
    padding-bottom: 21.5rem !important;
  }
}
@media screen and (max-width: 1200px) {
  body .bigger-title {
    font-size: 2rem;
  }
  body .big-title {
    font-size: 2.5rem;
  }
  body .subtitle {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 800px) {
  body .bigger-title {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 768px) {
  body {
    font-size: 0.9rem;
  }
  body .container {
    padding: 2.75rem 5%;
  }
  body .bigger-title {
    padding: 0.5rem 3rem;
  }
  body .big-title {
    font-size: 2rem;
  }
}
@media screen and (max-width: 450px) {
  body .container {
    padding: 2.15rem 5%;
  }
  body .bigger-title {
    font-size: 1.5rem;
  }
  body .big-title {
    font-size: 1.75rem;
  }
  body .title-area {
    margin-top: 4rem;
  }
}

body .members-container {
  position: relative;
  text-align: center;
}
body .members-container .big-title {
  margin-block: 4rem 2rem;
}
body .members-container .members {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding-inline: 2rem;
}
body .members-container .members .member-card {
  width: 300px;
  display: grid;
  place-items: center;
  row-gap: 1.3rem;
  padding: 2.4rem 1rem;
  border-radius: 20px;
  box-shadow: rgba(15, 45, 89, 0.2117647059) 0px 0px 5px 0px;
  transition: transform 0.4s, box-shadow 0.4s;
}
body .members-container .members .member-card .image-container {
  position: relative;
  display: grid;
  width: 180px;
  height: 180px;
  background-color: burlywood;
  border-radius: 50%;
  overflow: hidden;
  transition: transform 0.4s;
}
body .members-container .members .member-card .image-container::before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 65px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: indianred;
  transition: transform 0.4s;
}
body .members-container .members .member-card .image-container img {
  position: relative;
  justify-self: center;
  align-self: flex-end;
  width: 90%;
  height: auto;
  transition: transform 0.4s;
}
body .members-container .members .member-card .contact {
  display: grid;
  row-gap: 0.4rem;
}
body .members-container .members .member-card .contact .member-link {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  color: #e5e5e5;
  background-color: #0f2c59;
  padding: 0.5rem 1.2rem;
  border-radius: 25px;
  transition: 0.4s;
}
body .members-container .members .member-card .contact .member-link i,
body .members-container .members .member-card .contact .member-link p {
  transition: transform 0.4s;
}
body .members-container .members .member-card .contact .member-link i {
  font-size: 1.25rem;
}
body .members-container .members .member-card .contact .member-link:hover {
  text-shadow: 0 0 3px rgba(229, 229, 229, 0.4117647059);
  transform: scale(102%);
  box-shadow: rgba(15, 45, 89, 0.5882352941) 0 0 10px 0px;
}
body .members-container .members .member-card:hover {
  box-shadow: rgba(15, 45, 89, 0.1960784314) 0px 7px 29px 0px;
  transform: translateY(-5px);
}
body .members-container .members .member-card:hover .image-container img {
  transform: scale(103%);
}
body .members-container .members .member-card:hover .image-container::before {
  transform: scale(400%) translateY(-40%);
}
@media screen and (max-width: 1200px) {
  body .members-container .big-title {
    margin-block: 3rem 1.5rem;
  }
  body .members-container .members .member-card {
    box-shadow: rgba(15, 45, 89, 0.1960784314) 0px 7px 29px 0px;
  }
  body .members-container .members .member-card .image-container img {
    transform: scale(110%);
  }
  body .members-container .members .member-card .image-container::before {
    transform: scale(400%) translateY(-40%);
  }
}/*# sourceMappingURL=main.css.map */