.container {
  /*============== COLLABORATIONS CONTAINER ==============*/
  .collaborations-container {
    width: 75%;
    margin: 0 auto;

    .collaborators {
      gap: 1.75rem;
      margin-top: 2rem;

      img {
        width: 175px;
      }
    }
  }

  /*============== RESPONSIVE DESIGN ==============*/
  // First breakpoint
  @media screen and (max-width: 1200px) {
    .collaborators {
      gap: 1rem;

      img {
        width: 125px;
      }
    }
  }

  @media screen and (max-width: 576px) {
    .collaborators {
      img {
        width: 90px;
      }
    }
  }
}
