/*============== DARK THEME ==============*/
:root {
  --navbar-bg-blur: #091a34a9;
  --hover-gradient: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
  --white-container__hover-gradient: linear-gradient(
    135deg,
    #667eea 0%,
    #764ba2 100%
  );
  --nonwhite-dropdown__shadow: rgba(0, 0, 0, 0.2) 0px 8px 8px 0px;
  --nonwhite-dropdown__bg: hsla(217, 70%, 6%, 0.4);
  --register-button-color: #5286ce;
  --navbar-logo-filter: invert(85%) sepia(100%) saturate(1000%) hue-rotate(190deg);
}

body.darkTheme {
  --navbar-bg-blur: #1e1e1ec9;
  --hover-gradient: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
  --white-container__hover-gradient: linear-gradient(60deg, #29323c 0%, #485563 100%);
  --nonwhite-dropdown__shadow: rgba(179, 179, 179, 0.068) 0px 8px 8px 0px;
  --nonwhite-dropdown__bg: hsla(0, 0%, 23%, 0.197);
  --register-button-color: #3a3a3a;
  --navbar-logo-filter: brightness(0) contrast(100%);
}

/*============== NAVBAR ==============*/
body {
  /*========== WHITE NAVBAR FEATURES ==========*/
  /*=============== RESPONSIVE DESIGN ===============*/
  /* First breakpoint */
  /* Navbar for mobile devices*/
  /* 
     Navbar height adjustment to 
     match the responsive design in the root
  */
  /* Second breakpoint */
  /*======= 
    Classes and ids below belongs to just blurred elements.

    These are created to add blur to the navbar smoothly
    and properly.

    Check js file to see the algorithm
  =======*/
}
body nav {
  /*============== BASE ==============*/
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--navbar-height);
  padding-inline: 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-regular);
  z-index: 100;
  transition: color 0.4s, background 0.8s;
  /*============== LOGO ==============*/
  /*============== NAV MENU ==============*/
  /*============== BUTTON AREA ==============*/
}
body nav i {
  background-image: var(--hover-gradient);
  -webkit-background-clip: text;
          background-clip: text;
  transition: transform 0.4s;
}
body nav .nav-logo {
  height: 75%;
  transition: filter 0.4s;
}
body nav .nav-logo .nav-img {
  height: 100%;
}
body nav .nav-menu {
  background-color: transparent;
  transition: right 0.4s, background 0.4s;
  overflow: auto;
}
body nav .nav-menu::-webkit-scrollbar {
  display: none;
}
body nav .nav-menu .nav-list {
  display: flex;
  flex-direction: row;
  position: relative;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  /*======= DROPDOWN AREA =======*/
}
body nav .nav-menu .nav-list .nav-item {
  position: relative;
  transition: color 0.4s;
  /*======= Features to use in item slide effect =======*/
  /*======= nav-item hover =======*/
}
body nav .nav-menu .nav-list .nav-item .nav-link {
  cursor: pointer;
  position: relative;
  display: block;
  padding: 1.8rem 0.8rem;
  background-image: var(--hover-gradient);
  -webkit-background-clip: text;
          background-clip: text;
  transition: color 0.4s, font-weight 0.4s;
}
body nav .nav-menu .nav-list .nav-item::before, body nav .nav-menu .nav-list .nav-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 17px;
  height: 3px;
  width: 0;
  transform-origin: left;
  border-radius: 2px;
  background-image: var(--hover-gradient);
  transition: 0.3s;
}
body nav .nav-menu .nav-list .nav-item::before {
  filter: blur(2px);
}
body nav .nav-menu .nav-list .nav-item:hover .nav-link {
  font-weight: var(--font-semibold);
  color: transparent;
}
body nav .nav-menu .nav-list .nav-item:hover .nav-link i {
  font-weight: initial;
  transform: rotate(180deg);
}
body nav .nav-menu .nav-list .nav-item:hover::after, body nav .nav-menu .nav-list .nav-item:hover::before {
  width: 100%;
}
body nav .nav-menu .nav-list .activator-item .activator-item-title {
  display: flex;
  align-items: center;
  -moz-column-gap: 2px;
       column-gap: 2px;
}
body nav .nav-menu .nav-list .activator-item .anti-blur {
  background-color: var(--first-color);
}
body nav .nav-menu .nav-list .activator-item .sublist {
  position: absolute;
  top: 5rem;
  left: -28.5%;
  width: 160%;
  height: 0;
  opacity: 1;
  overflow: hidden;
  text-align: center;
  box-shadow: var(--nonwhite-dropdown__shadow);
  transition: height 0.7s background 0.4s;
}
body nav .nav-menu .nav-list .activator-item .sublist .sublist-item {
  transition: background 0.4s;
}
body nav .nav-menu .nav-list .activator-item .sublist .sublist-item .nav-link {
  color: var(--text-color);
  font-weight: var(--font-regular);
  /* Realignment on the nav-link inside dropdown menu */
  padding: 1.4rem 1.6rem;
}
body nav .nav-menu .nav-list .activator-item .sublist .sublist-item:hover {
  background-color: var(--nonwhite-dropdown__bg);
}
body nav .nav-menu .nav-list .activator-item .sublist .sublist-item:hover .nav-link {
  color: transparent;
  font-weight: var(--font-semibold);
}
body nav .nav-menu .nav-close {
  position: absolute;
  display: none;
  cursor: pointer;
}
body nav .button-area {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  /*======= REGISTER BUTTON =======*/
  /*======= TOGGLE ICON =======*/
}
body nav .button-area .register-button {
  position: relative;
  width: 130px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  color: var(--text-color);
  transition: 0.4s;
  /*======= register-button animation =======*/
}
body nav .button-area .register-button::before, body nav .button-area .register-button::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  transition: 0.4s;
}
body nav .button-area .register-button::before {
  top: 0;
  left: 0;
  border-top: 2px solid;
  border-left: 2px solid;
}
body nav .button-area .register-button::after {
  bottom: 0;
  right: 0;
  border-bottom: 2px solid;
  border-right: 2px solid;
}
body nav .button-area .register-button:hover {
  background: var(--register-button-color);
  box-shadow: 0 0 8px var(--register-button-color);
  border-radius: 5px;
  font-weight: var(--font-medium);
}
body nav .button-area .register-button:hover::before, body nav .button-area .register-button:hover::after {
  width: 100%;
  height: 100%;
  border-color: var(--register-button-color);
}
body nav .button-area .nav-toggle {
  display: none;
  cursor: pointer;
  font-size: 2.25rem;
}
body .white-container:is(nav) {
  box-shadow: 0 2px 16px hsla(0, 0%, 0%, 0.1);
  /*============== WHITE NAV MENU ==============*/
  /*============== WHITE BUTTON AREA ==============*/
}
body .white-container:is(nav) i {
  background-image: var(--white-container__hover-gradient);
}
body .white-container:is(nav) .nav-logo {
  filter: var(--navbar-logo-filter);
}
body .white-container:is(nav) .nav-menu .nav-list {
  /*======= WHITE DROPDOWN AREA =======*/
}
body .white-container:is(nav) .nav-menu .nav-list .nav-item .nav-link, body .white-container:is(nav) .nav-menu .nav-list .nav-item::before, body .white-container:is(nav) .nav-menu .nav-list .nav-item::after {
  background-image: var(--white-container__hover-gradient);
}
body .white-container:is(nav) .nav-menu .nav-list .activator-item .sublist {
  background-color: #f4f4f4;
}
body .white-container:is(nav) .nav-menu .nav-list .activator-item .sublist .sublist-item .nav-link {
  color: var(--text-color-alt);
}
body .white-container:is(nav) .nav-menu .nav-list .activator-item .sublist .sublist-item:hover {
  background-color: #dfdfdf;
}
body .white-container:is(nav) .nav-menu .nav-list .activator-item .sublist .sublist-item:hover .nav-link {
  color: transparent;
}
body .white-container:is(nav) .button-area .register-button {
  color: var(--first-color);
}
body .white-container:is(nav) .button-area .register-button::before, body .white-container:is(nav) .button-area .register-button::after {
  border-color: var(--first-color);
}
body .white-container:is(nav) .button-area .register-button:hover {
  color: white;
}
body .white-container:is(nav) .button-area .register-button:hover::before, body .white-container:is(nav) .button-area .register-button:hover::after {
  border-color: var(--register-button-color);
}
@media screen and (max-width: 1300px) {
  body {
    /*======= WHITE RESPONSIVE =======*/
  }
  body nav .nav-menu {
    position: fixed;
    z-index: 101;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 50%;
    padding-top: 5rem;
    box-shadow: 0 2px 16px hsla(0, 0%, 0%, 0.1);
    background-color: var(--navbar-bg-blur);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
  body nav .nav-menu .nav-list {
    flex-direction: column;
    /* Mysterious area to align sidebar effect on items */
  }
  body nav .nav-menu .nav-list .nav-item {
    padding-block: 0 17px;
  }
  body nav .nav-menu .nav-list .nav-item .nav-link {
    padding: 1.2rem 4rem;
  }
  body nav .nav-menu .nav-list .activator-item .sublist {
    text-align: left;
    width: 100%;
    opacity: 1;
    position: static;
    background-color: rgba(0, 0, 0, 0);
  }
  body nav .nav-menu .nav-list .activator-item .sublist .sublist-item {
    /* Set padding value equal to nav-item > nav-link */
  }
  body nav .nav-menu .nav-list .activator-item .sublist .sublist-item .nav-link {
    padding: 1.2rem 4rem;
  }
  body nav .nav-menu .nav-close {
    display: block;
    top: 2rem;
    right: 3rem;
    font-size: 1.5rem;
  }
  body nav .button-area .register-button {
    background: var(--register-button-color);
    box-shadow: 0 0 8px var(--register-button-color);
    border-radius: 5px;
    font-weight: var(--font-medium);
  }
  body nav .button-area .register-button::before, body nav .button-area .register-button::after {
    width: 100%;
    height: 100%;
    border-color: var(--register-button-color) !important;
  }
  body nav .button-area .nav-toggle {
    display: block;
  }
  body nav .show-menu {
    right: 0;
  }
  body .white-container:is(nav) .nav-menu {
    background-color: white;
  }
  body .white-container:is(nav) .button-area .register-button {
    color: white;
  }
}
@media screen and (max-width: 820px) {
  body nav .nav-menu {
    width: 60%;
  }
  body nav .button-area .register-button {
    width: 115px;
    height: 40px;
  }
}
@media screen and (max-width: 500px) {
  body nav {
    padding-inline: 7%;
  }
  body nav .nav-logo {
    height: 65%;
  }
  body nav .nav-menu {
    width: 100%;
  }
  body nav .button-area {
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
  body nav .button-area .register-button {
    width: 105px;
    height: 38px;
  }
  body nav .button-area .nav-toggle {
    font-size: 1.75rem;
  }
}
body .blur-div {
  transition: 0.4s;
}
body .blur-container {
  will-change: backdrop-filter;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--navbar-bg-blur);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 2px 16px hsla(0, 0%, 0%, 0.1);
  top: 0;
  left: 0;
  z-index: -1;
}
body .anti-blur {
  background: transparent;
  box-shadow: none;
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
}/*# sourceMappingURL=main.css.map */