@import "../../../assets/css/root";

body {
  $hover-gradient: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
  $white-container__hover-gradient: linear-gradient(135deg, #667eea 0%, #764ba2 100%);

  nav {
    /*============== BASE ==============*/
    position: fixed;
    top: 0;
    width: 100%;
    height: 4.5rem;
    padding-inline: 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: color .4s, background .8s;

    i {
      background-image: $hover-gradient;
      background-clip: text;
      transition: transform .4s;
    }

    /*============== LOGO ==============*/
    .nav-logo {
      height: 75%;
      transition: filter .4s;

      .nav-img {
        height: 100%;
      }
    }

    /*============== NAV MENU ==============*/
    .nav-menu {
      background-color: transparent;
      transition: right .4s, background .4s;

      .nav-list {
        display: flex;
        flex-direction: row;
        position: relative;
        column-gap: .5rem;

        .nav-item {
          position: relative;
          transition: color .4s;

          .nav-link {
            position: relative;
            display: block;
            padding: 1.8rem .8rem;
            background-image: $hover-gradient;
            background-clip: text;
            transition: color .4s, font-weight .4s;
          }

          /*======= Features to use in item slide effect =======*/
          &::before,
          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 17px;
            height: 3px;
            width: 0;
            transform-origin: left;
            border-radius: 2px;
            background-image: $hover-gradient;
            transition: .3s;
          }

          &::before {
            filter: blur(2px);
          }

          /*======= nav-item hover =======*/
          &:hover {
            .nav-link {
              font-weight: $font-semibold;
              color: transparent;

              i {
                font-weight: initial;
                transform: rotate(180deg);
              }
            }

            &::after,
            &::before {
              width: 100%;
            }
          }
        }

        /*======= DROPDOWN AREA =======*/
        .activator-item {
          .activator-item-title {
            display: flex;
            align-items: center;
            column-gap: 2px;
          }

          // Force dropdown menu to get background on the top of the page
          // Added here to suppress hierarchy
          .anti-blur {
            background-color: $first-color;
          }

          .sublist {
            position: absolute;
            top: 4.65rem;
            left: -28.5%;
            width: 160%;
            height: 0;
            opacity: 1;
            overflow: hidden;
            text-align: center;
            box-shadow: 0 10px 16px hsla(0, 0%, 0%, 0.1);
            transition: height .7s background .4s;

            .sublist-item {
              transition: background .4s;

              .nav-link {
                color: $text-color;
                font-weight: $font-regular;
                /* Realignment on the nav-link inside dropdown menu */
                padding: 1.4rem 1.6rem;
              }

              &:hover {
                background-color: hsla(217, 70%, 6%, 0.4);

                .nav-link {
                  color: transparent;
                  font-weight: $font-semibold;
                }
              }
            }
          }
        }
      }

      .nav-close {
        position: absolute;
        display: none;
        cursor: pointer;
      }
    }

    /*============== BUTTON AREA ==============*/
    .button-area {
      display: flex;
      column-gap: 20px;

      /*======= REGISTER BUTTON =======*/
      .register-button {
        position: relative;
        width: 130px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        overflow: hidden;
        color: $text-color;
        transition: .4s;

        /*======= register-button animation =======*/
        &::before,
        &::after {
          content: "";
          position: absolute;
          width: 10px;
          height: 10px;
          transition: .4s;
        }

        &::before {
          top: 0;
          left: 0;
          border-top: 2px solid;
          border-left: 2px solid;
        }

        &::after {
          bottom: 0;
          right: 0;
          border-bottom: 2px solid;
          border-right: 2px solid;
        }

        &:hover {
          background: #5286ce;
          box-shadow: 0 0 8px #5286ce;
          border-radius: 5px;
          font-weight: $font-medium;

          &::before,
          &::after {
            width: 100%;
            height: 100%;
            border-color: #5286ce;
          }
        }
      }

      /*======= TOGGLE ICON =======*/
      .nav-toggle {
        display: none;
        cursor: pointer;
        font-size: 2rem;
      }
    }
  }

  /*========== WHITE NAVBAR FEATURES ==========*/
  .white-container:is(nav) {
    box-shadow: 0 2px 16px hsla(0, 0%, 0%, 0.1);

    i {
      background-image: $white-container__hover-gradient;
    }

    .nav-logo {
      filter: invert(85%) sepia(100%) saturate(1000%) hue-rotate(190deg);
    }

    /*============== WHITE NAV MENU ==============*/
    .nav-menu {
      .nav-list {
        .nav-item {
          .nav-link,
          &::before,
          &::after {
            background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
          }
        }

        /*======= WHITE DROPDOWN AREA =======*/
        .activator-item {
          .sublist {
            background-color: #f4f4f4;

            .sublist-item {
              .nav-link {
                color: $text-color-alt;
              }

              &:hover {
                background-color: #dfdfdf;
              }
            }
          }
        }
      }
    }

    /*============== WHITE BUTTON AREA ==============*/
    .button-area {
      .register-button {
        &::before,
        &::after {
          border-color: #5286ce;
        }
      }
    }
  }

  /*=============== RESPONSIVE DESIGN ===============*/
  /* First breakpoint */
  /* Navbar for mobile devices*/
  @media screen and (max-width: 1300px) {
    nav {
      .nav-menu {
        position: fixed;
        z-index: 101;
        top: 0;
        right: -100%;
        height: 100vh;
        width: 50%;
        padding-top: 6rem;
        box-shadow: 0 2px 16px hsla(0, 0%, 0%, 0.1);
        background-color: #091a34cd;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);

        .nav-list {
          flex-direction: column;

          /* Mysterious area to align sidebar effect on items */
          .nav-item {
            padding-block: 0 17px;
            .nav-link {
              padding: 1.2rem 4rem;
            }
          }

          .activator-item {
            .sublist {
              text-align: left;
              width: 100%;
              opacity: 1;
              position: static;
              background-color: #00000000;

              .sublist-item {
                /* Set padding value equal to nav-item > nav-link */
                .nav-link {
                  padding: 1.2rem 4rem;
                }
              }
            }
          }
        }

        .nav-close {
          display: block;
          top: 2rem;
          right: 3rem;
          font-size: 1.5rem;
        }
      }

      .button-area {
        .register-button {
          width: 125px;
          height: 40px;
        }

        .nav-toggle {
          display: block;
        }
      }

      .show-menu {
        right: 0;
      }
    }

    /*======= WHITE RESPONSIVE =======*/
    .white-container:is(nav) {
      .nav-menu {
        background-color: white;
      }
    }
  }

  /* 
     Navbar height adjustment to 
     match the responsive design in the root
  */
  @media screen and (max-width: 1200px) {
    nav {
      height: 3.5rem;
    }
  }

  /* Second breakpoint */
  @media screen and (max-width: 768px) {
    nav {
      padding-inline: 7%;

      .nav-menu {
        width: 80%;
      }

      .button-area {
        .register-button {
          width: 100px;
          height: 30px;
        }

        .nav-toggle {
          font-size: 1.25rem;
        }
      }
    }
  }

  /*======= 
    Classes and ids below belongs to just blurred elements.

    These are created to add blur to the navbar smoothly
    and properly.

    Check js file to see the algorithm
  =======*/
  .blur-div {
    transition: .4s;
  }

  .blur-container {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #091a34cd;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 2px 16px hsla(0, 0%, 0%, 0.1);
    top: 0;
    left: 0;
    z-index: -1;
  }

  .anti-blur {
    background: transparent;
    box-shadow: none;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
  }
}