/*============== DARK THEME ==============*/
:root {
  --line-slider-shadow: #0f2d5961 0 3px 7px;
  --box-shadow: 0px 0px 25px #0f2d5965;
}

body.darkTheme {
  --line-slider-shadow: #00000061 0 3px 7px;
  --box-shadow: 0px 0px 25px #00000065;
}

body {
  background-color: var(--secondary-color);
}
body .about-us {
  /*=============== RESPONSIVE DESIGN ===============*/
  /* First breakpoint */
  /* Second breakpoint */
  /* Third breakpoint */
  /* Forth breakpoint */
}
body .about-us .content {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 400px 720px;
  gap: 1.5rem 2rem;
  /* Container that contains line slider and description slider */
  /*============== SWIPER IMAGES ==============*/
}
body .about-us .content .description-area {
  /*============== SLIDER LINE ==============*/
  /*============== SWIPER DESCRIPTION ==============*/
}
body .about-us .content .description-area .titles {
  display: flex;
  justify-content: space-between;
  padding-inline: 4.5%;
}
body .about-us .content .description-area .titles .subtitle {
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: var(--font-medium);
  transition: font-weight 0.4s, transform 0.4s, text-shadow 0.4s;
}
body .about-us .content .description-area .titles .active-title {
  text-shadow: rgba(15, 45, 89, 0.2980392157) 0 0 2px;
  font-weight: var(--font-bold);
  transform: translateY(-5px);
}
body .about-us .content .description-area .line-slider {
  position: relative;
  height: 3px;
  margin-top: 0.6rem;
  background-color: #c5c3d1;
}
body .about-us .content .description-area .line-slider .current-line {
  position: absolute;
  top: -2px;
  left: 0;
  width: 33.3%;
  height: 7px;
  background-color: var(--first-color);
  box-shadow: var(--line-slider-shadow);
  transition: width 0.3s, transform 0.3s;
}
body .about-us .content .description-area .description-slider .description {
  padding-top: 1.25rem;
}
body .about-us .content .description-area .description-slider .description .big-title {
  margin-block: 1.25rem 0.75rem;
  font-size: 1.75rem;
  letter-spacing: 1px;
}
body .about-us .content .image-slider {
  width: 100%;
  height: 90%;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
}
body .about-us .content .image-slider img {
  width: 100%;
  height: 100%;
}
body .about-us .collaborators {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.75rem;
  padding: 2.5rem 10%;
}
body .about-us .collaborators img {
  width: 125px;
  border-radius: 50%;
  transition: transform 0.4s;
}
body .about-us .collaborators img:hover {
  transform: translateY(-3px);
}
@media screen and (max-width: 1300px) {
  body .about-us .content {
    grid-template-columns: 800px;
    gap: 2.25rem;
  }
  body .about-us .content .description-area .titles {
    padding-inline: 5%;
  }
  body .about-us .content .description-area .titles .subtitle {
    font-size: 1.8rem;
  }
  body .about-us .content .image-slider {
    width: 70%;
  }
}
@media screen and (max-width: 850px) {
  body .about-us .content {
    grid-template-columns: 600px;
    text-align: center;
  }
  body .about-us .content .description-area .titles {
    padding-inline: 4%;
  }
  body .about-us .content .description-area .titles .subtitle {
    font-size: 1.3rem;
  }
  body .about-us .content .description-area .titles .active-title {
    transform: translateY(-2px);
  }
  body .about-us .content .description-area .description-slider .description .big-title {
    margin-block: 1.25rem 0.5rem;
    font-size: 1.5rem;
  }
  body .about-us .collaborators {
    padding-block: 2.25rem;
    gap: 1rem;
  }
  body .about-us .collaborators img {
    width: 100px;
  }
}
@media screen and (max-width: 650px) {
  body .about-us .content {
    grid-template-columns: 80%;
    gap: 1.4rem;
  }
  body .about-us .content .description-area .titles .subtitle {
    font-size: 1rem;
  }
}
@media screen and (max-width: 500px) {
  body .about-us {
    padding: 2.15rem 0;
  }
  body .about-us .content .description-area .titles .subtitle {
    font-size: 0.75rem;
  }
  body .about-us .content .image-slider {
    width: 85%;
  }
  body .about-us .collaborators {
    padding-block: 1.25rem;
    gap: 0.75rem;
  }
  body .about-us .collaborators img {
    width: 85px;
  }
}/*# sourceMappingURL=main.css.map */