@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/*=============== VARIABLES ===============*/
/*========== Font Style ==========*/
/*========== Colors ==========*/
/*========== Font Weights ==========*/
/*========== Font Sizes ==========*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  /*=============== SETUP ===============*/
  background-color: #0f2c59;
  font-family: "Montserrat", sans-serif;
  font-size: 1.05rem;
  font-weight: 400;
  color: white;
  letter-spacing: 0.2px;
  /*=============== REUSABLE CSS CLASSES ===============*/
  /* To create a container with a white background and contrasted texts */
  /* Top part of the subpages */
  /* =============== RESPONSIVE TYPOGRAPHY AND STRUCTURES =============== */
  /* First breakpoint */
  /* Second breakpoint */
  /* test class */
}
body ul {
  list-style: none;
}
body a {
  color: white;
  text-decoration: none;
}
body img {
  max-width: 100%;
  height: auto;
}
body .container {
  width: 100%;
  padding-inline: 10%;
}
body .bigger-title {
  font-size: 3.18rem;
  font-weight: 700;
}
body .big-title {
  font-size: 3.18rem;
  font-weight: 700;
}
body .subtitle {
  font-size: 1.55rem;
  font-weight: 600;
}
body .white-container {
  background-color: #f4f4f4;
  color: #4e4e4e;
}
body .white-container .bigger-title,
body .white-container .big-title,
body .white-container .subtitle,
body .white-container a {
  color: #0f2c59;
}
body .title-area {
  position: relative;
  display: grid;
  align-content: center;
  width: 100%;
  height: 107px;
  text-align: center;
  padding-inline: 3rem;
  background-color: #0f2c59;
  overflow: hidden;
  margin-top: 5rem; /* space for navbar */
}
body .title-area img {
  position: absolute;
  height: 100%;
  width: auto;
  top: 0;
}
body .title-area img:nth-child(1) {
  transform: translateX(-50%);
  left: 0;
}
body .title-area img:nth-child(2) {
  transform: translateX(50%);
  right: 0;
}
@media screen and (max-width: 1200px) {
  body .bigger-title,
  body .big-title {
    font-size: 2.2rem;
  }
  body .subtitle {
    font-size: 1.2rem;
  }
  body .title-area {
    margin-top: 3.5rem;
    height: 85px;
  }
}
@media screen and (max-width: 768px) {
  body {
    font-size: 0.89rem;
  }
  body .container {
    padding-inline: 5%;
  }
  body .bigger-title,
  body .big-title {
    font-size: 1.25rem;
  }
  body .title-area {
    height: 68px;
  }
}
body .root-test-div {
  height: 50vh;
}

body .about-us {
  /*=============== RESPONSIVE DESIGN ===============*/
  /* First breakpoint */
  /* Second breakpoint */
  /* Third breakpoint */
}
body .about-us .content {
  display: grid;
  justify-content: center;
  grid-template-columns: 665px 570px;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  padding-top: 3.5rem;
}
body .about-us .content .description-area {
  /*============== SLIDER LINE ==============*/
  /*============== SWIPER DIV ==============*/
}
body .about-us .content .description-area .titles {
  display: flex;
  justify-content: space-between;
  padding-inline: 0.9rem;
}
body .about-us .content .description-area .titles .subtitle {
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 500;
  transition: font-weight 0.4s, transform 0.4s;
}
body .about-us .content .description-area .titles .active-title {
  font-weight: 700;
  transform: translateY(-5px);
}
body .about-us .content .description-area .line-slider {
  position: relative;
  height: 4px;
  margin-top: 0.75rem;
  background-color: #c5c3d1;
}
body .about-us .content .description-area .line-slider .current-line {
  position: absolute;
  top: -3px;
  left: 0;
  width: 33.3%;
  height: 10px;
  background-color: #0f2c59;
  transition: width 0.3s, transform 0.3s;
}
body .about-us .content .description-area .description-slider {
  display: grid;
  place-items: center;
}
body .about-us .content .description-area .description-slider .description .big-title {
  margin-block: 1.5rem 1rem;
  font-size: 2.25rem;
  letter-spacing: 2px;
}
body .about-us .content .image-area {
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
body .about-us .content .image-area .column {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 50%;
}
body .about-us .content .image-area .column:nth-child(2) {
  margin-top: 7rem;
}
body .about-us .sponsors {
  padding: 5rem 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}
body .about-us .sponsors img {
  width: 250px;
}
@media screen and (max-width: 1380px) {
  body .about-us .content {
    grid-template-columns: 550px 370px;
  }
  body .about-us .content .description-area .titles .subtitle {
    font-size: 1.4rem;
  }
  body .about-us .content .description-area .description-slider .description .big-title {
    font-size: 2rem;
  }
  body .about-us .sponsors img {
    width: 150px;
  }
}
@media screen and (max-width: 1100px) {
  body .about-us .content {
    grid-template-columns: 420px 260px;
  }
  body .about-us .content .description-area .titles .subtitle {
    font-size: 1.1rem;
  }
  body .about-us .content .description-area .titles .active-title {
    transform: translateY(-2px);
  }
  body .about-us .content .image-area .column {
    width: 100%;
  }
  body .about-us .content .image-area .column:nth-child(2) {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  body .about-us .content {
    grid-template-columns: 450px 0;
    -moz-column-gap: 0;
         column-gap: 0;
    text-align: center;
  }
  body .about-us .content .description-area .description-slider .description .big-title {
    margin-block: 1.25rem 0.5rem;
    font-size: 1.5rem;
  }
  body .about-us .content .image-area {
    display: none;
  }
}
@media screen and (max-width: 495px) {
  body .about-us .content {
    grid-template-columns: 300px 0;
  }
  body .about-us .content .description-area .titles .subtitle {
    font-size: 0.75rem;
  }
}/*# sourceMappingURL=main.css.map */