/*============== DARK THEME ==============*/
:root{
  --line-slider-shadow: #0f2d5961 0 3px 7px;
  --box-shadow: 0px 0px 25px #0f2d5965;
}

body.darkTheme{
  --line-slider-shadow: #00000061 0 3px 7px;
  --box-shadow: 0px 0px 25px #00000065;
}

body {
  background-color: var(--secondary-color);

  .about-us {
    .content {
      display: grid;
      justify-content: center;
      align-items: center;
      grid-template-columns: 400px 720px;
      gap: 1.5rem 2rem;

      /* Container that contains line slider and description slider */
      .description-area {
        .titles {
          display: flex;
          justify-content: space-between;
          padding-inline: 4.5%;

          .subtitle {
            cursor: pointer;
            font-size: 1.5rem;
            font-weight: var(--font-medium);
            transition: font-weight 0.4s, transform 0.4s, text-shadow 0.4s;
          }

          .active-title {
            text-shadow: #0f2d594c 0 0 2px;
            font-weight: var(--font-bold);
            transform: translateY(-5px);
          }
        }

        /*============== SLIDER LINE ==============*/
        .line-slider {
          position: relative;
          height: 3px;
          margin-top: 0.6rem;
          background-color: #c5c3d1;

          .current-line {
            position: absolute;
            top: -2px;
            left: 0;
            width: 33.3%;
            height: 7px;
            background-color: var(--first-color);
            box-shadow: var(--line-slider-shadow);
            transition: width 0.3s, transform 0.3s;
          }
        }

        /*============== SWIPER DESCRIPTION ==============*/
        .description-slider {
          .description {
            padding-top: 1.25rem;
            
            .big-title {
              margin-block: 1.25rem 0.75rem;
              font-size: 1.75rem;
              letter-spacing: 1px;
            }
          }
        }
      }

      /*============== SWIPER IMAGES ==============*/
      .image-slider {
        width: 100%;
        height: 90%;
        border-radius: 8px;
        box-shadow: var(--box-shadow);

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .collaborators {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1.75rem;
      padding: 2.5rem 10%;

      img{
        width: 125px;
        border-radius: 50%;
        transition: transform .4s;

        &:hover{
          transform: translateY(-3px);
        }
      }
    }

    /*=============== RESPONSIVE DESIGN ===============*/
    /* First breakpoint */
    @media screen and (max-width: 1300px) {
      .content {
        grid-template-columns: 800px;
        gap: 2.25rem;

        .description-area {
          .titles {
            padding-inline: 5%;

            .subtitle {
              font-size: 1.8rem;
            }
          }
        }

        .image-slider {
          width: 70%;
        }
      }
    }

    /* Second breakpoint */
    @media screen and (max-width: 850px) {
      .content {
        grid-template-columns: 600px;
        text-align: center;

        .description-area {
          .titles {
            padding-inline: 4%;

            .subtitle {
              font-size: 1.3rem;
            }

            .active-title {
              transform: translateY(-2px);
            }
          }

          .description-slider {
            .description {
              .big-title {
                margin-block: 1.25rem 0.5rem;
                font-size: 1.5rem;
              }
            }
          }
        }
      }

      .collaborators{
        padding-block: 2.25rem;
        gap: 1rem;

        img{
          width: 100px;
        }
      }
    }

    /* Third breakpoint */
    @media screen and (max-width: 650px) {
      .content {
        grid-template-columns: 80%;
        gap: 1.4rem;

        .description-area {
          .titles {
            .subtitle {
              font-size: 1rem;
            }
          }
        }
      }
    }

    /* Forth breakpoint */
    @media screen and (max-width: 500px) {
      padding: 2.15rem 0;

      .content {
        .description-area {
          .titles {
            .subtitle {
              font-size: 0.75rem;
            }
          }
        }

        .image-slider {
          width: 85%;
        }
      }

      .collaborators{
        padding-block: 1.25rem;
        gap: .75rem;

        img{
          width: 85px;
        }
      }
    }
  }
}
