@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/*=============== VARIABLES ===============*/
/*========== Font Style ==========*/
/*========== Colors ==========*/
/*========== Font Weights ==========*/
/*========== Font Sizes ==========*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  /*=============== SETUP ===============*/
  min-height: 100vh;
  background-color: #0f2c59;
  font-family: "Montserrat", sans-serif;
  font-size: 1.05rem;
  font-weight: 400;
  color: white;
  letter-spacing: 0.2px;
  line-height: 1.4;
  /*=============== REUSABLE CSS CLASSES ===============*/
  /* To create a container with a white background and contrasted texts */
  /* Top part of the subpages */
  /* =============== RESPONSIVE TYPOGRAPHY AND STRUCTURES =============== */
  /* First breakpoint */
  /* Second breakpoint */
}
body ul {
  list-style: none;
}
body a {
  color: white;
  text-decoration: none;
}
body img {
  max-width: 100%;
  height: auto;
}
body .container {
  width: 100%;
  padding: 3.35rem 10%;
}
body .bigger-title {
  font-size: 3.18rem;
  font-weight: 700;
  padding: 1.25rem 3rem;
}
body .big-title {
  font-size: 3.18rem;
  font-weight: 700;
}
body .subtitle {
  font-size: 1.55rem;
  font-weight: 600;
}
body .white-container {
  background-color: #f4f4f4;
  color: #4e4e4e;
}
body .white-container .bigger-title,
body .white-container .big-title,
body .white-container .subtitle,
body .white-container a {
  color: #0f2c59;
}
body .title-area {
  position: relative;
  display: grid;
  align-content: center;
  width: 100%;
  min-height: 85px;
  text-align: center;
  background-color: #0f2c59;
  overflow: hidden;
  margin-top: 5rem; /* space for navbar */
}
body .title-area img {
  position: absolute;
  height: 100%;
  width: auto;
  top: 0;
}
body .title-area img:nth-child(1) {
  transform: translateX(-50%);
  left: 0;
}
body .title-area img:nth-child(2) {
  transform: translateX(50%);
  right: 0;
}
body .ender {
  padding-bottom: 13.5rem !important;
}
@media screen and (max-width: 750px) {
  body .ender {
    padding-bottom: 17.5rem !important;
  }
}
@media screen and (max-width: 500px) {
  body .ender {
    padding-bottom: 21.5rem !important;
  }
}
@media screen and (max-width: 1200px) {
  body .bigger-title {
    font-size: 2rem;
  }
  body .big-title {
    font-size: 2.5rem;
  }
  body .subtitle {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 800px) {
  body .bigger-title {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 768px) {
  body {
    font-size: 0.9rem;
  }
  body .container {
    padding: 2.75rem 5%;
  }
  body .bigger-title {
    padding: 0.5rem 3rem;
  }
  body .big-title {
    font-size: 2rem;
  }
}
@media screen and (max-width: 450px) {
  body .container {
    padding: 2.15rem 5%;
  }
  body .bigger-title {
    font-size: 1.5rem;
  }
  body .big-title {
    font-size: 1.75rem;
  }
  body .title-area {
    margin-top: 4rem;
  }
}

body {
  background-color: #f4f4f4;
}
body .white-container {
  /*============== BASE ==============*/
}
body .white-container .container {
  display: grid;
  grid-template-columns: 5fr 1.5fr;
  gap: 1rem;
  padding-block: 3rem;
  /*============== LEFT CONTAINER ==============*/
  /*============== RIGHT CONTAINER ==============*/
  /*============== RESPONSIVE DESIGN ==============*/
  /* First breakpoint */
  /* Second breakpoint */
}
body .white-container .container > div {
  background-color: white;
}
body .white-container .container .left-box {
  padding: 1.5rem 2rem;
  /* 
      WARNING: The rule that .author is written outside the .content
      is not a mistake. 

      Since subtitle and author elements sometimes change places in 
      responsive design, they are written outside of .content in order
      not to lose .author features.

      Do not try to get the .author inside to the .content, if you do
      not have a better solution.
  */
}
body .white-container .container .left-box .author {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
  text-align: center;
}
body .white-container .container .left-box .author .name {
  position: relative;
}
body .white-container .container .left-box .author .name::after {
  content: "";
  display: block;
  margin: 10px auto 0;
  width: 100%;
  height: 2px;
  background-color: #4e4e4e;
}
body .white-container .container .left-box .author .article-date {
  font-size: 0.8rem;
}
body .white-container .container .left-box .content {
  display: grid;
  grid-template-columns: 1fr 6fr;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
body .white-container .container .left-box .content .text-area .announcement-date {
  display: none;
  font-size: 0.8rem;
  font-weight: 600;
  margin-top: 0.3rem;
}
body .white-container .container .left-box .content .text-area .aa-text {
  margin-top: 1rem;
}
body .white-container .container .right-box {
  padding: 2rem 1rem;
  font-size: 0.8rem;
}
body .white-container .container .right-box .subtitle {
  font-size: 1rem;
}
body .white-container .container .right-box .subtitle::after {
  content: "";
  display: block;
  margin: 8px auto 0;
  width: 100%;
  height: 2px;
  background-color: #0f2c59;
}
body .white-container .container .right-box .others {
  display: flex;
  flex-direction: column;
}
body .white-container .container .right-box .others .item {
  color: #4e4e4e;
  display: flex;
  align-items: center;
  -moz-column-gap: 0.3rem;
       column-gap: 0.3rem;
  height: 40px;
  transition: background 0.2s;
}
body .white-container .container .right-box .others .item img {
  width: auto;
  height: 25px;
}
body .white-container .container .right-box .others .item:hover {
  background-color: #f4f4f4;
}
@media screen and (max-width: 1200px) {
  body .white-container .container {
    grid-template-columns: 1fr;
  }
  body .white-container .container .right-box {
    padding: 2rem 2rem;
    font-size: 0.9rem;
  }
  body .white-container .container .right-box .subtitle {
    font-size: 1.2rem;
  }
  body .white-container .container .right-box .subtitle::after {
    margin-bottom: 5px;
    height: 4px;
  }
  body .white-container .container .right-box .others .item {
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    height: 50px;
  }
}
@media screen and (max-width: 640px) {
  body .white-container .container .left-box .author {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
  }
  body .white-container .container .left-box .author .name::after {
    width: 70%;
  }
  body .white-container .container .left-box .author img {
    margin: 0 auto;
    width: 40%;
  }
  body .white-container .container .left-box .content {
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=main.css.map */