/*============== TOPIC NAME ==============*/
@import "../../../../assets/css/root";

body {
    .swiper{
        width: 900px;
        background-color: green;
    }


    .big-title{
        text-align: center;
        padding-block: 3rem 1.25rem;
    }

  .landing-page {
    display: grid;
    padding: 5rem 8rem;
    display: grid;
    height: 100vh;

    .bigger-title {
      text-align: center;
    }

    .content {
      display: grid;
      grid-template-columns: 250px 750px;
      justify-content: center;
      align-items: center;
      column-gap: 5rem;

      .team-logo {
        img {
          width: 100%;
          height: auto;
        }
      }
    }

    .social{
        display: flex;
        justify-content: center;
        column-gap: 5rem;
        .social-link{
            display: flex;
            align-items: center;
            column-gap: .4rem;
            i{
                font-size: 3rem;
            }
        }
    }
  }

  .white-container{
    .video-container{
        .big-title{
            text-align: left;
        }

        .team-video{
            background-color: black;
            width: 100%;
        }
    }

    .achievements{
        .achievements__card{
            .achievements__img{
                width: 100%;
                height: 200px;
                background-color: red;
            }
        }
    }
  }
}
