@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/*=============== VARIABLES ===============*/
/*========== Font Style ==========*/
/*========== Colors ==========*/
/*========== Font Weights ==========*/
/*========== Font Sizes ==========*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  /*=============== SETUP ===============*/
  background-color: #0f2c59;
  font-family: "Montserrat", sans-serif;
  font-size: 1.05rem;
  font-weight: 400;
  color: white;
  letter-spacing: 0.2px;
  /*=============== REUSABLE CSS CLASSES ===============*/
  /* To create a container with a white background and contrasted texts */
  /* Top part of the subpages */
  /* =============== RESPONSIVE TYPOGRAPHY AND STRUCTURES =============== */
  /* First breakpoint */
  /* Second breakpoint */
  /* test class */
}
body ul {
  list-style: none;
}
body a {
  color: white;
  text-decoration: none;
}
body img {
  max-width: 100%;
  height: auto;
}
body .container {
  max-width: 1800px;
  width: 100%;
  margin: auto;
  padding-inline: 10%;
}
body .bigger-title {
  font-size: 3.18rem;
  font-weight: 700;
}
body .big-title {
  font-size: 3.18rem;
  font-weight: 700;
}
body .subtitle {
  font-size: 1.55rem;
  font-weight: 600;
}
body .white-container {
  background-color: #f4f4f4;
  color: #4e4e4e;
}
body .white-container .bigger-title,
body .white-container .big-title,
body .white-container .subtitle,
body .white-container a {
  color: #0f2c59;
}
body .title-area {
  position: relative;
  display: grid;
  align-content: center;
  width: 100%;
  height: 107px;
  text-align: center;
  padding-inline: 3rem;
  background-color: #0f2c59;
  overflow: hidden;
  margin-top: 5rem;
}
body .title-area img {
  position: absolute;
  height: 100%;
  width: auto;
  top: 0;
}
body .title-area img:nth-child(1) {
  transform: translateX(-50%);
  left: 0;
}
body .title-area img:nth-child(2) {
  transform: translateX(50%);
  right: 0;
}
body #before-footer-container {
  padding-bottom: 20rem;
}
@media screen and (max-width: 1200px) {
  body .bigger-title,
  body .big-title {
    font-size: 2.2rem;
  }
  body .subtitle {
    font-size: 1.2rem;
  }
  body .title-area {
    margin-top: 4rem;
    height: 85px;
  }
}
@media screen and (max-width: 768px) {
  body {
    font-size: 0.89rem;
  }
  body .container {
    padding-inline: 5%;
  }
  body .bigger-title,
  body .big-title {
    font-size: 1.25rem;
  }
  body .title-area {
    height: 68px;
  }
}
body .root-test-div {
  height: 50vh;
}

body #landing-page {
  /*============== BASE ==============*/
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  display: flex;
  align-items: center;
  /*============== CONTAINER ==============*/
  /*=============== RESPONSIVE DESIGN ===============*/
  /* First breakpoint */
  /* Second breakpoint */
  /* Third breakpoint */
  /* Forth breakpoint */
  /* Fifth breakpoint */
}
body #landing-page .bg-img {
  height: 100%;
  max-width: -moz-fit-content;
  max-width: fit-content;
  opacity: 0.04;
  position: absolute;
  z-index: -1;
}
body #landing-page .ornament {
  position: absolute;
  top: 175px;
  width: 7%;
}
body #landing-page .container {
  max-width: 1600px;
  margin-block: 12rem 4rem;
  padding-inline: 190px;
  display: grid;
  grid-template-columns: 5fr 2fr;
  row-gap: 1.25rem;
  /*============== LEFT BOX ==============*/
  /*============== RIGHT BOX ==============*/
}
body #landing-page .container .left-box {
  width: 80%;
}
body #landing-page .container .left-box .subtitle {
  font-style: italic;
  font-size: 1.2rem;
}
body #landing-page .container .left-box .bigger-title {
  font-size: 3.3rem;
  margin-block: 1.25rem;
}
body #landing-page .container .left-box .text {
  width: 90%;
  line-height: 1.5;
}
body #landing-page .container .left-box .register-btn {
  position: relative;
  z-index: 0;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  margin: 2.5rem 0;
  background-color: white;
  color: #0f2c59;
  padding: 0.6rem 1.1rem;
  border-radius: 50px;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.378) 0px 5px 10px;
  overflow: hidden;
  transition: box-shadow 0.4s;
}
body #landing-page .container .left-box .register-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.633) 0px 0px 20px;
}
body #landing-page .container .left-box .register-btn .arrow {
  display: grid;
  place-items: center;
  width: 30px;
  height: 30px;
  background-color: #0f2c59;
  border-radius: 50%;
  transition: background 0.4s;
}
body #landing-page .container .left-box .register-btn .arrow .button-bg-circle {
  position: absolute;
  z-index: -1;
  justify-self: left;
  width: 15px;
  height: 15px;
  background-color: #0f2c59;
  border-radius: 20px;
  transition: all 0.4s;
}
body #landing-page .container .left-box .register-btn .arrow i {
  color: white;
}
body #landing-page .container .left-box .social-media-area {
  font-weight: 500;
}
body #landing-page .container .left-box .social-media-area .social-media-button {
  display: inline-flex;
  align-items: center;
  margin-inline: 5px;
  background-color: white;
  overflow: hidden;
  color: #0f2c59;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.378) 0px 5px 10px;
  transition: all 0.4s;
}
body #landing-page .container .left-box .social-media-area .social-media-button .icon {
  display: grid;
  place-items: center;
  width: 3.25rem;
  height: 3.25rem;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}
body #landing-page .container .left-box .social-media-area .social-media-button .icon i {
  font-size: 1.5rem;
  transition: all 0.5s ease-out;
}
body #landing-page .container .left-box .social-media-area .social-media-button .social-text {
  width: 0;
  transition: width 0.4s, margin-right 0.4s;
}
body #landing-page .container .left-box .social-media-area .social-media-button:hover {
  box-shadow: rgba(0, 0, 0, 0.633) 0px 0px 20px;
}
body #landing-page .container .left-box .social-media-area .social-media-button:hover .social-text {
  margin-right: 1.1rem;
}
body #landing-page .container .right-box {
  position: relative;
  display: grid;
  place-items: center;
}
body #landing-page .container .right-box img {
  position: absolute;
  max-width: 5000px;
  transform: translate(-60px, -30px);
}
body #landing-page .container .right-box img:nth-child(1) {
  width: 170%;
}
body #landing-page .container .right-box img:nth-child(2) {
  width: 150%;
}
body #landing-page .container .right-box img:nth-child(3) {
  width: 120%;
}
@media screen and (max-width: 1450px) {
  body #landing-page .container .left-box .bigger-title {
    font-size: 2.9rem;
  }
  body #landing-page .container .left-box .subtitle {
    font-size: 1.1rem;
  }
  body #landing-page .container .left-box .text {
    font-size: 1rem;
  }
}
@media screen and (max-width: 1300px) {
  body #landing-page {
    display: flex;
    align-items: center;
  }
  body #landing-page .ornament {
    width: 100px;
  }
  body #landing-page .bg-img {
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  body #landing-page .container {
    margin-block: 5rem;
    grid-template-columns: 1fr;
    grid-template-rows: 550px 1fr;
    padding-inline: 8%;
  }
  body #landing-page .container .left-box {
    width: 100%;
    text-align: center;
  }
  body #landing-page .container .left-box .subtitle {
    font-size: 1.3rem;
  }
  body #landing-page .container .left-box .bigger-title {
    font-size: 3.5rem;
  }
  body #landing-page .container .left-box .text {
    width: 80%;
    margin: auto;
    font-size: 1.2rem;
  }
  body #landing-page .container .right-box {
    position: relative;
  }
  body #landing-page .container .right-box img {
    position: absolute;
    width: auto;
    right: 50%;
    transform: translateX(50%);
  }
  body #landing-page .container .right-box img:nth-child(1), body #landing-page .container .right-box img:nth-child(2), body #landing-page .container .right-box img:nth-child(3) {
    width: auto;
  }
  body #landing-page .container .right-box img:nth-child(1) {
    height: 95%;
  }
  body #landing-page .container .right-box img:nth-child(2) {
    height: 85%;
  }
  body #landing-page .container .right-box img:nth-child(3) {
    height: 70%;
  }
}
@media screen and (max-width: 1000px) {
  body #landing-page .container {
    grid-template-rows: 400px 1fr;
    padding-inline: 9%;
    row-gap: 1.5rem;
  }
  body #landing-page .container .left-box .subtitle {
    font-size: 1.2rem;
  }
  body #landing-page .container .left-box .bigger-title {
    font-size: 3rem;
  }
}
@media screen and (max-width: 650px) {
  body #landing-page .ornament {
    top: 110px;
    width: 15%;
  }
  body #landing-page .container {
    padding-inline: 4%;
  }
  body #landing-page .container .left-box .subtitle {
    font-size: 0.8rem;
  }
  body #landing-page .container .left-box .bigger-title {
    margin-block: 15px;
    font-size: 2rem;
  }
}
@media screen and (max-width: 550px) {
  body #landing-page .container {
    grid-template-rows: 270px 1fr;
  }
  body #landing-page .container .social-media-area .social-media-button {
    margin-inline: 2px;
  }
  body #landing-page .container .social-media-area .social-media-button .icon {
    width: 3rem;
    height: 3rem;
  }
  body #landing-page .container .social-media-area .social-media-button .icon i {
    font-size: 1.3rem;
  }
  body #landing-page .register-btn {
    margin-block: 1.75rem 2.25rem !important;
  }
}/*# sourceMappingURL=main.css.map */