.summary {
  width: 100%;
  overflow: hidden;

  .big-title {
    text-align: center;
  }

  .summary-slider {
    position: relative;
    padding-inline: 1rem;
    padding-bottom: 2.5rem;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;

    .even {
      margin-top: 5rem;
    }

    .summary-item {
      margin-block: 2rem;
      transition: transform 0.4s;

      img {
        width: 100%;
        border-radius: 10px;
        box-shadow: var(--summary-card-shadow);
      }

      &:hover {
        transform: translateY(-5px) scale(101%);
      }
    }

    // Swiper button adjustment
    .swiper-button-prev,
    .swiper-button-next {
      &::after {
        content: "";
      }

      top: initial;
      bottom: 0.1rem;
      width: 50px;
      height: 50px;
      background-color: var(--secondary-color);
      color: var(--first-color);
      border-radius: 50%;
      transition: left 0.4s, right 0.4s, opacity 0.4s;

      .i {
        width: 20px;
      }
    }

    .swiper-button-prev {
      left: 38%;

      &:hover {
        left: 37.8%;
      }
    }

    .swiper-button-next {
      right: 38%;

      &:hover {
        right: 37.8%;
      }
    }

    // Swiper pagination adjustment
    .swiper-pagination {
      bottom: 1.1rem;
    }

    .swiper-pagination-bullet {
      width: 11px;
      height: 11px;
      opacity: 0.2;
      background-color: rgb(170, 170, 170);
      transition: opacity 0.6s, background-color 0.4s;
    }

    .swiper-pagination-bullet-active {
      background-color: var(--secondary-color);
      opacity: 1;
    }
  }

  /*============== RESPONSIVE DESIGN ==============*/
  // First breakpoint
  @media screen and (max-width: 1150px) {
    .summary-slider {
      .swiper-button-prev,
      .swiper-button-next {
        display: none;
      }
    }
  }

  // Third breakpoint
  @media screen and (max-width: 544px) {
    .summary-slider {
      padding-bottom: 2rem;

      .even {
        margin-top: 0;
      }

      .summary-item {
        margin-block: 1.25rem;
      }
    }
  }
}
