@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/*=============== VARIABLES ===============*/
/*========== Font Style ==========*/
:root {
  --navbar-height: 5rem;
  --font-family: "Montserrat", sans-serif;

  /*========== Colors ==========*/
  --first-color: #0f2c59;
  --secondary-color: #f4f4f4;
  --text-color: #ffff;
  --text-color-alt: #0f2c59;
  --text-color-black: #4e4e4e;

  /*========== Font Weights ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;

  /*========== Font Sizes ==========*/
  --bigger-font-size: 3.18rem; // title-area font size
  --big-font-size: 3.18rem;
  --subtitle-font-size: 1.55rem;
  --normal-font-size: 1.05rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  /*=============== SETUP ===============*/
  min-height: 100vh;
  background-color: var(--first-color);
  font-family: var(--font-family);
  font-size: var(--normal-font-size);
  font-weight: var(--font-regular);
  color: var(--text-color);
  letter-spacing: 0.2px;
  line-height: 1.4;

  ul {
    list-style: none;
  }

  a {
    color: var(--text-color);
    text-decoration: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  /*=============== REUSABLE CSS CLASSES ===============*/
  .container {
    width: 100%;
    padding: 3.35rem 10%;
  }

  .bigger-title {
    font-size: var(--bigger-font-size);
    font-weight: var(--font-bold);
    padding: 1.25rem 3rem;
  }

  .big-title {
    font-size: var(--big-font-size);
    font-weight: var(--font-bold);
  }

  .subtitle {
    font-size: var(--subtitle-font-size);
    font-weight: var(--font-semibold);
  }

  /* To create a container with a white background and contrasted texts */
  .white-container {
    background-color: var(--secondary-color);
    color: var(--text-color-black);

    .bigger-title,
    .big-title,
    .subtitle,
    a {
      color: var(--text-color-alt);
    }
  }

  /* Top part of the subpages */
  .title-area {
    position: relative;
    display: grid;
    align-content: center;
    width: 100%;
    min-height: 45px;
    text-align: center;
    background-color: var(--first-color);
    overflow: hidden;
    margin-top: var(--navbar-height);

    img {
      position: absolute;
      height: 100%;
      width: auto;
      top: 0;

      &:nth-child(1) {
        transform: translateX(-50%);
        left: 0;
      }

      &:nth-child(2) {
        transform: translateX(50%);
        right: 0;
      }
    }
  }

  .ender {
    padding-bottom: 13.5rem !important;

    @media screen and (max-width: 750px) {
      padding-bottom: 17.5rem !important;
    }

    @media screen and (max-width: 500px) {
      padding-bottom: 21.5rem !important;
    }
  }
}

/* =============== RESPONSIVE TYPOGRAPHY AND STRUCTURES =============== */
/* First breakpoint */
@media screen and (max-width: 1200px) {
  :root {
    --bigger-font-size: 2rem;
    --big-font-size: 2.5rem;
    --subtitle-font-size: 1.2rem;
    --normal-font-size: 0.983rem;
  }
}

/* Second breakpoint */
@media screen and (max-width: 800px) {
  :root{
    --bigger-font-size: 1.5rem;
    --navbar-height: 3.8rem;
  }

  body{
    .bigger-title{
      padding: 1rem 3rem;
    }
  }
}

/* Second breakpoint */
@media screen and (max-width: 768px) {
  :root{
    --big-font-size: 2rem;
    --subtitle-font-size: 1.05rem;
    --normal-font-size: 0.9rem;
  }

  .container {
    padding: 2.75rem 5%;
  }

  .bigger-title {
    padding: 0.5rem 3rem;
  }
}

@media screen and (max-width: 450px) {
  :root{
    --bigger-font-size: 1.5rem;
    --big-font-size: 1.75rem;
  }

  .container {
    padding: 2.15rem 5%;
  }

  .title-area {
    margin-top: 4rem;
  }
}