@import "../../../../assets/css/root";

body {
  text-align: center;

  .white-container {
    padding-block: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 400px);
    column-gap: 3rem;
    justify-content: center;

    .division {
      margin-bottom: 5rem;

      .subtitle {
        padding: 0.2rem;
      }

      .line-image{
        img{
          width: 100%;
          height: auto;
          filter: invert(85%) sepia(100%) saturate(1000%) hue-rotate(190deg) brightness(40%);
        }
      }

      .line {
        width: 80%;
        margin: auto;
      }

      .image-area {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2rem;
        gap: 2rem;

        .sponsor-link {
          width: 250px;
          transition: transform .4s;

          .img {
            width: 100%;
            height: auto;
          }

          &:hover{
            transform: scale(110%);;
          }
        }
      }

      &:nth-child(1) {
        margin-top: 2.5rem;
      }

      &:nth-child(3) {
        margin-top: 5rem;
      }
    }

    @media screen and (max-width: 1200px) {
      .division {
        .image-area {
          .sponsor-link {
            width: 300px;
          }
        }
      }
    }

    @media screen and (max-width: 768px) {
      .division {
        .image-area {
          .sponsor-link {
            width: 250px;
          }
        }
      }
    }
  }
}
