body {
  background-color: var(--secondary-color);

  .container {
    .ender {
      display: flex;
      row-gap: 4rem;
      text-align: center;

      /*============== COLLABORATIONS CONTAINER ==============*/
      .collaborations-container {
        width: 75%;
        margin: 0 auto;

        .collaborations {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          gap: 1.75rem;
          margin-top: 2rem;

          img {
            width: 175px;
            border-radius: 50%;
            transition: transform 0.4s;

            &:hover {
              transform: translateY(-3px);
            }
          }
        }
      }

      /*============== RESPONSIVE DESIGN ==============*/
      // First breakpoint
      @media screen and (max-width: 1200px) {
        row-gap: 3rem;

        .collaborations-container {
          .collaborations {
            gap: 1rem;

            img {
              width: 125px;
            }
          }
        }
      }

      //Second breakpoint
      @media screen and (max-width: 850px) {
        flex-direction: column;
      }

      // Third breakpoint
      @media screen and (max-width: 576px) {
        row-gap: 2rem;
        padding-top: 1.5rem;

        .collaborations-container {
          .collaborations {
            img {
              width: 90px;
            }
          }
        }
      }
    }
  }
}
