@import "../../../../assets/css/root";

body {
  .white-container {
    /*============== BASE ==============*/
    text-align: center;
    padding-block: 3rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 25%);
    column-gap: 3rem;
    
    /*============== SPONSOR CONTAINER ==============*/
    .division {
      .subtitle {
        font-weight: $font-bold;
        padding: 0.2rem;
      }

      .line-image {
        img {
          width: 100%;
          height: auto;
          filter: invert(85%) sepia(100%) saturate(1000%) hue-rotate(190deg)
            brightness(40%);
        }
      }

      .line {
        width: 80%;
        margin: auto;
      }

      .image-area {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2rem;
        gap: 2rem;

        .sponsor-link {
          width: 90%;
          transition: transform 0.4s;

          .img {
            width: 100%;
            height: auto;
          }

          &:hover {
            transform: scale(110%);
          }
        }
      }

      &:nth-child(1) {
        margin-top: 2.5rem;
      }

      &:nth-child(3) {
        margin-top: 5rem;
      }
    }

    /*============== RESPONSIVE DESIGN ==============*/
    /* First breakpoint */
    @media screen and (max-width: 1200px) {
      grid-template-columns: 50%;

      .division {
        .subtitle {
          font-size: 1.75rem;
        }

        .image-area {
          .sponsor-link {
            width: 75%;
          }
        }

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          margin: 1rem;
        }
      }
    }

    /* Second breakpoint */
    @media screen and (max-width: 768px) {
      padding-block: 1.75rem;
      grid-template-columns: 70%;

      .division {
        .subtitle {
          font-size: 1rem;
        }
      }
    }
  }
}
