/*============== DARK THEME ==============*/
:root {
  --animated-button-color: #5286ce;
  --departmants-card-shadow: #0f2d5936 0px 0px 5px 0px;
  --departmants-card-hover-shadow: #0f2d5932 0px 7px 29px 0px;
  --summary-card-shadow: 0 0 15px rgba(0, 0, 0, 0.37);
}

body.darkTheme {
  --animated-button-color: #3a3a3a;
  --departmants-card-shadow: #00000036 0px 0px 5px 0px;
  --departmants-card-hover-shadow: #00000032 0px 7px 29px 0px;
  --summary-card-shadow: 0 0 15px rgba(191, 191, 191, 0.253);
}

/*===================||| HOME PAGE |||===================*/
body {
  /*============== REUSEABLE ANIMATED BUTTON ==============*/
  /*===================||| LANDING PAGE |||===================*/
  /*===================||| ABOUT US |||===================*/
  /*===================||| TEAMS |||===================*/
  /*===================||| DEPARTMANS |||===================*/
  /*===================||| SUMMARY |||===================*/
  /*===================||| COLLABORATIONS |||===================*/
}
body .animated-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50px;
  cursor: pointer;
  overflow: hidden;
  color: var(--text-color-alt);
  transition: 0.4s;
  /*======= more-button animation =======*/
}
body .animated-button::before, body .animated-button::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  color: var(--text-color-black);
  transition: 0.4s;
}
body .animated-button::before {
  top: 0;
  left: 0;
  border-top: 2px solid;
  border-left: 2px solid;
}
body .animated-button::after {
  bottom: 0;
  right: 0;
  border-bottom: 2px solid;
  border-right: 2px solid;
}
body .animated-button:hover {
  background: var(--animated-button-color);
  box-shadow: 0 0 8px var(--animated-button-color);
  border-radius: 5px;
  font-weight: var(--font-medium);
  letter-spacing: 0.6px;
  color: var(--text-color);
}
body .animated-button:hover::before, body .animated-button:hover::after {
  width: 100%;
  height: 100%;
  border-color: var(--animated-button-color);
}
@media screen and (max-width: 1300px) {
  body .animated-button {
    margin: 0 auto;
    background: var(--animated-button-color);
    box-shadow: 0 0 8px var(--animated-button-color);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: var(--font-medium);
    letter-spacing: 0.6px;
    color: var(--text-color) !important;
  }
  body .animated-button::before, body .animated-button::after {
    width: 100%;
    height: 100%;
    border-color: var(--animated-button-color);
  }
}
body #landing-page {
  /*============== BASE ==============*/
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  display: flex;
  align-items: center;
  /*============== CONTAINER ==============*/
  /*=============== RESPONSIVE DESIGN ===============*/
  /* First breakpoint */
  /* Second breakpoint */
  /* Third breakpoint */
  /* Forth breakpoint */
  /* Fifth breakpoint */
}
body #landing-page .bg-img {
  position: absolute;
  z-index: -1;
  opacity: 0.04;
}
body #landing-page .ornament {
  position: absolute;
  top: 175px;
  width: 7%;
}
body #landing-page .container {
  padding-block: 0 !important;
}
body #landing-page .container {
  max-width: 1600px;
  margin: 11rem auto 4rem;
  padding-inline: 190px;
  display: grid;
  grid-template-columns: 5fr 2fr;
  row-gap: 1.25rem;
  /*============== LEFT BOX ==============*/
  /*============== RIGHT BOX ==============*/
}
body #landing-page .container .left-box {
  width: 80%;
}
body #landing-page .container .left-box .subtitle {
  font-style: italic;
  font-size: 1.2rem;
}
body #landing-page .container .left-box .big-title {
  font-size: 3.3rem;
  margin-block: 1.25rem;
}
body #landing-page .container .left-box .text {
  width: 90%;
  line-height: 1.5;
}
body #landing-page .container .left-box .register-btn {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  margin: 2.5rem 0;
  background-color: white;
  color: var(--first-color);
  padding: 0.6rem 1.1rem;
  border-radius: 50px;
  font-weight: var(--font-medium);
  box-shadow: rgba(0, 0, 0, 0.378) 0px 5px 10px;
  overflow: hidden;
  transition: box-shadow 0.6s;
}
body #landing-page .container .left-box .register-btn .arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: var(--first-color);
  border-radius: 50%;
  transition: transform 0.6s, background-color 2.4s, box-shadow 0.6s;
}
body #landing-page .container .left-box .register-btn .arrow i {
  color: white;
}
body #landing-page .container .left-box .register-btn .register-text {
  transition: text-shadow 0.6s;
}
body #landing-page .container .left-box .register-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.633) 0px 0px 20px;
  text-shadow: rgba(15, 45, 89, 0.337254902) 0px 0px 5px;
}
body #landing-page .container .left-box .register-btn:hover .arrow {
  box-shadow: rgba(15, 45, 89, 0.6) 0px 0px 10px;
  transform: translateX(3px);
}
body #landing-page .container .left-box .social-media-area {
  font-weight: var(--font-medium);
}
body #landing-page .container .left-box .social-media-area .social-media-button {
  display: inline-flex;
  align-items: center;
  margin-inline: 3.5px;
  background-color: var(--secondary-color);
  overflow: hidden;
  color: var(--first-color);
  border-radius: 50px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.378) 0px 5px 10px;
  transition: all 0.4s;
}
body #landing-page .container .left-box .social-media-area .social-media-button .icon {
  display: grid;
  place-items: center;
  width: 3.25rem;
  height: 3.25rem;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}
body #landing-page .container .left-box .social-media-area .social-media-button .icon i {
  font-size: 1.5rem;
  transition: all 0.5s ease-out;
}
body #landing-page .container .left-box .social-media-area .social-media-button .social-text {
  width: 0;
  transition: width 0.4s, margin-right 0.4s;
}
body #landing-page .container .left-box .social-media-area .social-media-button:hover {
  box-shadow: rgba(0, 0, 0, 0.633) 0px 0px 20px;
}
body #landing-page .container .left-box .social-media-area .social-media-button:hover .social-text {
  margin-right: 1.1rem;
}
body #landing-page .container .right-box {
  position: relative;
  display: grid;
  place-items: center;
  transform: translate(-60px, -40px);
  /* Dark theme transform */
}
body #landing-page .container .right-box .theme-button {
  cursor: pointer;
  transform: rotateZ(-100deg);
  transition: transform 2s;
}
body #landing-page .container .right-box .theme-button-dark {
  transform: rotateZ(360deg) !important;
}
body #landing-page .container .right-box img {
  position: absolute;
  max-width: 5000px;
}
body #landing-page .container .right-box img:nth-child(1) {
  width: 170%;
}
body #landing-page .container .right-box img:nth-child(2) {
  width: 150%;
}
body #landing-page .container .right-box img:nth-child(3) {
  width: 120%;
}
@media screen and (max-width: 1450px) {
  body #landing-page .container .left-box .big-title {
    font-size: 2.9rem;
  }
  body #landing-page .container .left-box .subtitle {
    font-size: 1.1rem;
  }
  body #landing-page .container .left-box .text {
    font-size: 1rem;
  }
}
@media screen and (max-width: 1300px) {
  body #landing-page {
    display: flex;
    align-items: center;
  }
  body #landing-page .ornament {
    width: 100px;
  }
  body #landing-page .bg-img {
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  body #landing-page .container {
    margin-block: 5rem;
    grid-template-columns: 1fr;
    grid-template-rows: 550px 1fr;
    padding-inline: 8%;
  }
  body #landing-page .container .left-box {
    width: 100%;
    text-align: center;
  }
  body #landing-page .container .left-box .subtitle {
    font-size: 1.3rem;
  }
  body #landing-page .container .left-box .big-title {
    font-size: 3.5rem;
  }
  body #landing-page .container .left-box .text {
    width: 90%;
    margin: auto;
  }
  body #landing-page .container .right-box {
    position: relative;
    transform: translate(0);
  }
  body #landing-page .container .right-box img {
    position: absolute;
    width: auto;
  }
  body #landing-page .container .right-box img:nth-child(1), body #landing-page .container .right-box img:nth-child(2), body #landing-page .container .right-box img:nth-child(3) {
    width: auto;
  }
  body #landing-page .container .right-box img:nth-child(1) {
    height: 95%;
  }
  body #landing-page .container .right-box img:nth-child(2) {
    height: 85%;
  }
  body #landing-page .container .right-box img:nth-child(3) {
    height: 70%;
  }
}
@media screen and (max-width: 1000px) {
  body #landing-page .container {
    grid-template-rows: 400px 1fr;
    padding-inline: 9%;
    row-gap: 1.5rem;
  }
  body #landing-page .container .left-box .subtitle {
    font-size: 1.2rem;
  }
  body #landing-page .container .left-box .big-title {
    font-size: 3rem;
  }
}
@media screen and (max-width: 650px) {
  body #landing-page .ornament {
    top: 110px;
    width: 15%;
  }
  body #landing-page .container {
    padding-inline: 4%;
  }
  body #landing-page .container .left-box .subtitle {
    font-size: 0.8rem;
  }
  body #landing-page .container .left-box .big-title {
    margin-block: 15px;
    font-size: 2rem;
  }
}
@media screen and (max-width: 550px) {
  body #landing-page .container {
    grid-template-rows: 270px 1fr;
  }
  body #landing-page .container .social-media-area .social-media-button {
    margin-inline: 2px;
  }
  body #landing-page .container .social-media-area .social-media-button .icon {
    width: 3rem;
    height: 3rem;
  }
  body #landing-page .container .social-media-area .social-media-button .icon i {
    font-size: 1.3rem;
  }
  body #landing-page .register-btn {
    margin-block: 1.75rem 2.25rem !important;
  }
}
body .about-section {
  overflow: hidden;
  max-width: 1600px;
  position: relative;
  z-index: 0;
  padding: 0 !important;
  display: grid;
  align-items: center;
  /*=============== RESPONSIVE DESIGN ===============*/
  /* First breakpoint */
  /* Second breakpoint */
}
body .about-section .about-us-slider {
  position: absolute;
  left: -200px;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-clip-path: polygon(0 0, 56% 0, 44% 100%, 0% 100%);
          clip-path: polygon(0 0, 56% 0, 44% 100%, 0% 100%);
}
body .about-section .about-us-slider .swiper-slide {
  transform-origin: bottom left;
  transition: transform 0.5s ease, opacity 0.5s ease, filter 0.5s ease;
  border-radius: 15px;
}
body .about-section .about-us-slider .swiper-slide img {
  width: auto;
  height: 100%;
}
body .about-section .about-content {
  justify-self: end;
  display: grid;
  row-gap: 1.5rem;
  width: 70%;
  padding: 7rem 10% 7rem 15rem;
  -webkit-clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
}
body .about-section .about-content .about-title {
  font-size: 4.5rem;
  margin-bottom: 20px;
}
body .about-section .about-content .description {
  line-height: 1.5;
}
body .about-section .about-content .counter {
  font-family: "Lora", serif;
  color: #64ccc5;
  font-weight: bold;
  font-size: 2.25rem;
}
@media screen and (max-width: 1300px) {
  body .about-section {
    text-align: center;
  }
  body .about-section .about-us-slider {
    display: none;
  }
  body .about-section .about-content {
    -webkit-clip-path: none;
            clip-path: none;
    width: 100%;
    padding: 2.15rem 10%;
  }
}
@media screen and (max-width: 1100px) {
  body .about-section .about-content {
    row-gap: 1rem;
  }
  body .about-section .about-content .counter {
    font-size: 2rem;
    margin: 0;
  }
  body .about-section .about-content .animated-button {
    width: 100%;
  }
}
body .team-area {
  overflow: hidden;
  position: relative;
}
body .team-area .big-title {
  text-align: center;
}
body .team-area .team-area-slider {
  margin-top: 2rem;
  position: relative;
}
body .team-area .team-area-slider .team-area-slide {
  display: grid;
  row-gap: 1.2rem;
  padding: 2rem 3rem;
  text-align: center;
  color: var(--text-color-black);
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  background-blend-mode: screen;
  border-radius: 15px;
}
body .team-area .team-area-slider .team-area-slide .team-area-slide-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 0 auto;
}
body .team-area .team-area-slider .team-area-slide .team-area-slide-img img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
body .team-area .team-area-slider .team-area-slide .subtitle {
  color: var(--first-color);
}
body .team-area .team-area-slider .team-area-slide .social-media-links {
  display: flex;
  justify-content: center;
  -moz-column-gap: 0.8rem;
       column-gap: 0.8rem;
}
body .team-area .team-area-slider .team-area-slide .social-media-links a {
  font-size: 2.5rem;
  color: var(--first-color);
  transition: transform 0.4s;
}
body .team-area .team-area-slider .team-area-slide .social-media-links a:hover {
  transform: translateY(-3px);
}
body .team-area .team-area-slider .team-area-slide .animated-button {
  width: 100%;
  align-self: flex-end;
}
body .team-area .team-area-slider .swiper-slide-shadow-left,
body .team-area .team-area-slider .swiper-slide-shadow-right {
  display: none;
}
body .team-area .team-area-slider .swiper-slide {
  transition: transform 0.5s, filter 0.4s;
}
body .team-area .team-area-slider .swiper-slide:not(.swiper-slide-active) {
  filter: blur(3px);
}
@media screen and (max-width: 1483px) {
  body .team-area .container {
    padding-inline: 0;
  }
}
@media screen and (max-width: 714px) {
  body .team-area .team-area-slider .team-area-slide {
    padding: 1rem 1.25rem;
  }
}
body .departmants {
  display: grid;
  row-gap: 2rem;
  text-align: center;
  overflow: hidden;
  /*============== RESPONSIVE DESIGN ==============*/
  /* First breakpoint */
  /* Second breakpoint */
}
body .departmants .cards-container {
  max-width: 1300px;
  justify-self: center;
  justify-content: center;
  width: 380px;
}
body .departmants .cards-container .card {
  display: grid;
  place-items: center;
  row-gap: 0.5rem;
  padding: 2.75rem 1.5rem;
  border-radius: 15px;
  background-color: #f4f4f4;
  box-shadow: var(--departmants-card-shadow);
  transition: transform 0.4s, box-shadow 0.4s;
}
body .departmants .cards-container .card img {
  width: 55%;
}
body .departmants .cards-container .card:hover {
  transform: translateY(-5px);
  box-shadow: var(--departmants-card-hover-shadow);
}
@media screen and (max-width: 1200px) {
  body .departmants .cards-container .card {
    box-shadow: rgba(15, 45, 89, 0.1960784314) 0px 7px 29px 0px;
  }
}
@media screen and (max-width: 600px) {
  body .departmants .cards-container {
    width: 300px;
  }
  body .departmants .cards-container .card {
    padding: 2rem 1.25rem;
  }
  body .departmants .cards-container .card img {
    width: 50%;
  }
}
body .summary {
  width: 100%;
  overflow: hidden;
  /*============== RESPONSIVE DESIGN ==============*/
}
body .summary .big-title {
  text-align: center;
}
body .summary .summary-slider {
  position: relative;
  padding-inline: 1rem;
  padding-bottom: 2.5rem;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}
body .summary .summary-slider .even {
  margin-top: 5rem;
}
body .summary .summary-slider .summary-item {
  margin-block: 2rem;
  transition: transform 0.4s;
}
body .summary .summary-slider .summary-item img {
  width: 100%;
  border-radius: 10px;
  box-shadow: var(--summary-card-shadow);
}
body .summary .summary-slider .summary-item:hover {
  transform: translateY(-5px) scale(101%);
}
body .summary .summary-slider .swiper-button-prev,
body .summary .summary-slider .swiper-button-next {
  top: initial;
  bottom: 0.1rem;
  width: 50px;
  height: 50px;
  background-color: var(--secondary-color);
  color: var(--first-color);
  border-radius: 50%;
  transition: left 0.4s, right 0.4s, opacity 0.4s;
}
body .summary .summary-slider .swiper-button-prev::after,
body .summary .summary-slider .swiper-button-next::after {
  content: "";
}
body .summary .summary-slider .swiper-button-prev {
  left: 38%;
}
body .summary .summary-slider .swiper-button-prev:hover {
  left: 37.8%;
}
body .summary .summary-slider .swiper-button-next {
  right: 38%;
}
body .summary .summary-slider .swiper-button-next:hover {
  right: 37.8%;
}
body .summary .summary-slider .swiper-pagination {
  bottom: 1.1rem;
}
body .summary .summary-slider .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  opacity: 0.2;
  background-color: rgb(170, 170, 170);
  transition: opacity 0.6s, background-color 0.4s;
}
body .summary .summary-slider .swiper-pagination-bullet-active {
  background-color: var(--secondary-color);
  opacity: 1;
}
@media screen and (max-width: 1150px) {
  body .summary .summary-slider .swiper-button-prev,
  body .summary .summary-slider .swiper-button-next {
    display: none;
  }
}
@media screen and (max-width: 544px) {
  body .summary .summary-slider {
    padding-bottom: 2rem;
  }
  body .summary .summary-slider .even {
    margin-top: 0;
  }
  body .summary .summary-slider .summary-item {
    margin-block: 1.25rem;
  }
}
body .collaborations-container {
  width: 100%;
  margin: 0 auto;
  /*============== RESPONSIVE DESIGN ==============*/
}
body .collaborations-container .collaborations {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.75rem;
}
body .collaborations-container .collaborations img {
  width: 175px;
  border-radius: 50%;
  transition: transform 0.4s;
}
body .collaborations-container .collaborations img:hover {
  transform: translateY(-3px);
}
@media screen and (max-width: 1200px) {
  body .collaborations-container .collaborations {
    gap: 1rem;
  }
  body .collaborations-container .collaborations img {
    width: 110px;
  }
}
@media screen and (max-width: 576px) {
  body .collaborations-container .collaborations img {
    width: 110px;
  }
}/*# sourceMappingURL=main.css.map */