@import "../../../../assets/css/root";

body {
  .departmants {
    position: relative;
    display: grid;
    row-gap: 2.5rem;
    padding-block: 2.5rem 5.25rem;
    text-align: center;

    .cards-container {
      max-width: 1300px;
      justify-self: center;
      display: grid;
      gap: 2rem 2.75rem;
      grid-template-columns: repeat(3, 350px);

      .card {
        display: grid;
        place-items: center;
        row-gap: 1rem;
        padding: 2.75rem 1.5rem;
        border-radius: 15px;
        background-color: #f4f4f4;
        box-shadow: #0f2d5936 0px 0px 5px 0px;
        transition: all 0.4s;

        img {
          width: 65%;
        }

        &:hover {
          box-shadow: #0f2d5932 0px 7px 29px 0px;
          transform: translateY(-5px);
        }
      }
    }

    /*============== RESPONSIVE DESIGN ==============*/
    /* First breakpoint */
    @media screen and (max-width: 1200px) {
      .cards-container {
        grid-template-columns: repeat(3, 250px);
      }
    }

    /* Second breakpoint */
    @media screen and (max-width: 950px) {
      .cards-container {
        grid-template-columns: 325px;
      }
    }

    /* Third breakpoint */
    @media screen and (max-width: 425px) {
      .cards-container {
        grid-template-columns: 270px;

        .card{
          padding: 2rem 1.25rem;

          img{
            width: 50%;
          }
        }
      }
    }
  }
}