/*============== TOPIC NAME ==============*/

@import "../../../../assets/css/root";

body {
  background-color: white; //arkaplan default olarak mavi geldi ama figmada beyaz old için degistirdim
}

.header {
  //üstteki mavi sütunun tamamını kapsayan nav
  background-color: $first-color;
  text-align: center;
  width: 100%;
  height: 171px;
  align-items: center;
  justify-content: center;

  .img1 {
    //sol taraftaki biltek mekanik çark resmi
    height: 171px;
    float: left;
  }
  .img2 {
    //sağ taraftaki biltek mekanik çark resmi
    height: 171px;
    float: right;
  }
  #big-tit {
    //Takımlar ve departmanlar yazısının id si ,bigger-title classına özellik vermedim diğerlerine etki edebilir diye düşündüm:)
    display: inline;
    position: relative;
    top: 20%;
    background: linear-gradient(
      to right,
      #fbfbfb,
      #ac96fb
    ); //degisimli renk kısmının renklerini rootta bulamadım
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

#whi-cont {
  //white-container divine Id verdim aynı classı kullanan diger kısımlar etkilenir endisesiyle

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 105px;
  padding: 85px;

  .mini-divs {
    //her takıma ait resim ve başlığı içeren kucuk divler
    width: 363px;
    height: 466px;
    top: 373px;
    left: 155px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-items: center;
    text-align: center;

    .p-element {
      //takım adlarını temsil ediyor
      display: inline;
      width: 248px;
      height: 49px;
      margin: 0;
      padding-bottom: 10px;
      grid-row: 3/ 4;
      align-self: end;
      justify-self: center;
    }

    .images {
      //takım logoları
      width: 363px; /*büyüklük biraz büyük gibi geldi ama figmadaki ölçüyü aldım */
      height: 363px;
      top: 373px;
      left: 155px;
      border: 4px solid #000000;
      border-radius: 100%;
      grid-row: 1 / 2;
    }
  }

  .mini-divs:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;

    .images {
      box-shadow: 0 0 15px 5px #ac96fb;
    }
  }
}

@media (max-width: 1024px) {
  #whi-cont {
    grid-template-columns: repeat(2, 1fr); /* Tabletlerde 2 sütun */
    width: 100%;
  }
}

/* Telefonlar için düzen */

@media (max-width: 600px) {
  #whi-cont {
    grid-template-columns: 1fr; /* Telefonlarda tek sütun */
    width: 100%;
  }
}
