/*============== TOPIC NAME ==============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/*=============== VARIABLES ===============*/
/*========== Font Style ==========*/
/*========== Colors ==========*/
/*========== Font Weights ==========*/
/*========== Font Sizes ==========*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  /*=============== SETUP ===============*/
  background-color: #0f2c59;
  font-family: "Montserrat", sans-serif;
  font-size: 1.05rem;
  font-weight: 400;
  color: white;
  letter-spacing: 0.2px;
  /*=============== REUSABLE CSS CLASSES ===============*/
  /* To create a container with a white background and contrasted texts */
  /* Top part of the subpages */
  /* =============== RESPONSIVE TYPOGRAPHY AND STRUCTURES =============== */
  /* First breakpoint */
  /* Second breakpoint */
  /* test class */
}
body ul {
  list-style: none;
}
body a {
  color: white;
  text-decoration: none;
}
body img {
  max-width: 100%;
  height: auto;
}
body .container {
  width: 100%;
  padding-inline: 10%;
}
body .bigger-title {
  font-size: 3.18rem;
  font-weight: 700;
}
body .big-title {
  font-size: 3.18rem;
  font-weight: 700;
}
body .subtitle {
  font-size: 1.55rem;
  font-weight: 600;
}
body .white-container {
  background-color: #f4f4f4;
  color: #4e4e4e;
}
body .white-container .bigger-title,
body .white-container .big-title,
body .white-container .subtitle,
body .white-container a {
  color: #0f2c59;
}
body .title-area {
  position: relative;
  display: grid;
  align-content: center;
  width: 100%;
  height: 136px;
  text-align: center;
  padding-inline: 3rem;
  background-color: #0f2c59;
  overflow: hidden;
  margin-top: 5rem;
}
body .title-area img {
  position: absolute;
  height: 100%;
  width: auto;
  top: 0;
}
body .title-area img:nth-child(1) {
  transform: translateX(-50%);
  left: 0;
}
body .title-area img:nth-child(2) {
  transform: translateX(50%);
  right: 0;
}
@media screen and (max-width: 1200px) {
  body .bigger-title,
  body .big-title {
    font-size: 2.1rem;
  }
  body .subtitle {
    font-size: 1rem;
  }
  body .title-area {
    height: 95px;
  }
}
@media screen and (max-width: 768px) {
  body {
    font-size: 0.89rem;
  }
  body .container {
    padding-inline: 5%;
  }
  body .bigger-title,
  body .big-title {
    font-size: 1.2rem;
  }
  body .title-area {
    height: 65px;
  }
}
body .root-test-div {
  height: 50vh;
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
:root {
  --clr-1: #0f2c59;
  --clr-2:#153b74;
  --clr-3: #1f53a2;
  --clr-4:#387de6 ;
  --clr-5: #ac96fb;
}

body {
  background-color: white;
}

.bigger-title {
  background: linear-gradient(to right, #fbfbfb, #ac96fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.white-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 95px;
  row-gap: 70px;
  padding: 70px;
  justify-items: center;
}
.white-container a {
  display: inline-block;
  width: 257.5px;
}
.white-container .mini-divs {
  width: 257.75px;
  height: 350px;
  top: 373px;
  left: 155px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: center;
  text-align: center;
  border-radius: 7%;
}
.white-container .mini-divs .subtitle {
  display: inline;
  width: 248px;
  height: 49px;
  margin: 0;
  padding-bottom: 10px;
  grid-row: 3/4;
  align-self: end;
  justify-self: center;
}
.white-container .mini-divs .images {
  width: 257.75px;
  height: 262.31px;
  top: 373px;
  left: 155px;
  border: 4px solid white;
  border-radius: 100%;
  grid-row: 1/2;
  justify-self: center;
}
.white-container .mini-divs::before,
.white-container .mini-divs::after {
  content: "";
  position: absolute;
  inset: -0.5rem;
  z-index: -1;
  background: conic-gradient(from var(--gradient-angle), var(--clr-3), var(--clr-4), var(--clr-5), var(--clr-4), var(--clr-3));
  border-radius: inherit;
  animation: rotation 20s linear infinite;
}
.white-container .mini-divs::after {
  filter: blur(3.5rem);
}
@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}
.white-container .mini-divs:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
.white-container .mini-divs:hover .images {
  box-shadow: 0 0 35px 5px #ac96fb;
  animation: rotate-vert-center 0.7s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
@keyframes rotate-vert-center {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .white-container {
    grid-template-columns: repeat(2, 1fr); /* Two colums on tablets*/
    overflow: hidden;
    gap: 10%;
    row-gap: 5%;
    padding: 10%;
    justify-items: center;
    padding-top: 5%;
  }
  .white-container .mini-divs {
    justify-content: center;
    width: 190.75px;
    height: 285.31px;
  }
  .white-container .mini-divs .images {
    width: 190.75px;
    height: 195.31px;
  }
  .white-container a {
    width: 230.75px;
    height: 325.31px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .white-container {
    grid-template-columns: repeat(2, 1fr); /* Two colums on tablets */
    width: 100%;
    overflow: hidden;
    gap: 10%;
    row-gap: 4.5%;
    padding: 4%;
    justify-items: center;
  }
  .white-container .mini-divs {
    justify-content: center;
    width: 170.75px;
    height: 265.31px;
  }
  .white-container .mini-divs .images {
    width: 170.75px;
    height: 175.31px;
  }
  .white-container a {
    width: 170.75px;
    height: 265.31px;
  }
}
/* For phones */
@media (max-width: 575px) {
  .white-container {
    grid-template-columns: 1fr; /* Single colums on phones */
    width: 100%;
    justify-items: center;
    gap: 3%;
    row-gap: 2%;
    padding-top: 5%;
  }
  .white-container .mini-divs {
    justify-content: center;
    width: 150.75px;
    height: 245.31px;
  }
  .white-container .mini-divs .images {
    width: 150.75px;
    height: 155.31px;
  }
  .white-container a {
    width: 150.75px;
    height: 245.31px;
  }
}/*# sourceMappingURL=main.css.map */