body {
  /*==== Reset CSS from the board-members to fit this page ====*/
  background-color: var(--first-color);

  .container {
    margin: 0 auto;
    max-width: 1800px;
  }

  /*============== SUBLANDING PAGE ==============*/
  .sub-landing-page {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 2rem;
    padding: 6rem 12rem 2rem;
    min-height: 100vh;

    .bg-image {
      position: absolute;
      left: 0;
      z-index: -1;
      opacity: 0.04;
      filter: blur(0.5px);
    }

    .content {
      display: grid;
      grid-template-columns: 1fr 2fr;
      justify-content: center;
      align-items: center;
      column-gap: 5rem;

      .team-logo {
        display: grid;
        place-items: center;
        padding: 2rem;
        border-radius: 50%;
        background-color: var(--text-color);
        box-shadow: rgba(255, 255, 255, 0.422) 0 0 35px;

        img {
          height: 90%;
          filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.352));
        }
      }

      .main-description {
        display: grid;
        row-gap: 1rem;

        p {
          line-height: 1.5;
        }

        .descriptions-wrapper {
          p {
            margin-bottom: 0.4rem;
          }
        }
      }
    }

    .social {
      font-weight: var(--font-medium);
      margin: 0 auto;

      .social-media-button {
        display: inline-flex;
        align-items: center;
        margin-inline: 5px;
        font-size: 1.2rem;
        background-color: white;
        overflow: hidden;
        color: var(--first-color);
        border-radius: 50px;
        cursor: pointer;
        box-shadow: (rgba(0, 0, 0, 0.378) 0px 5px 10px);
        transition: all 0.4s;

        .icon {
          display: grid;
          place-items: center;
          width: 4rem;
          height: 4rem;
          text-align: center;
          border-radius: 50px;
          box-sizing: border-box;
          transition: all 0.3s ease-out;
          i {
            font-size: 2rem;
            transition: all 0.5s ease-out;
          }
        }

        .social-text {
          width: 0;
          transition: width 0.4s, margin-right 0.4s;
        }

        &:hover {
          box-shadow: (rgba(0, 0, 0, 0.633) 0px 0px 20px);

          .social-text {
            margin-right: 1.1rem;
          }
        }
      }
    }
  }

  /*============== WHITE-CONTAINER AREA ==============*/
  .team-container {
    .container {
      padding-top: 0;
    }

    .big-title {
      text-align: center;
      padding-block: 4rem 2rem;
    }

    // /*==== Video section ====*/
    // .video-container {
    //   .big-title {
    //     text-align: left;
    //   }

    //   .team-video {
    //     background-color: black;
    //     width: 100%;
    //   }
    // }

    /*==== Achievements section ====*/
    .achievements {
      .achievements-slider {
        width: 90%;
        padding-bottom: 6rem;
      }

      // Swiper button adjustment
      .swiper-button-prev,
      .swiper-button-next {
        &::after {
          content: "";
        }

        top: initial;
        bottom: 0.1rem;
        width: 50px;
        height: 50px;
        background-color: var(--first-color);
        color: var(--text-color);
        border-radius: 50%;
        transition: left 0.4s, right 0.4s, opacity 0.4s;
      }

      .swiper-button-prev {
        left: 38%;

        &:hover {
          left: 37.8%;
        }
      }

      .swiper-button-next {
        right: 38%;

        &:hover {
          right: 37.8%;
        }
      }

      // Swiper pagination adjustment
      .swiper-pagination {
        bottom: 1.1rem;
      }

      .swiper-pagination-bullet {
        opacity: 0.2;
        transition: opacity 0.6s;
      }

      .swiper-pagination-bullet-active {
        background-color: var(--first-color);
        opacity: 1;
      }

      .achievements__card {
        .achievements__img {
          width: 100%;
          height: 13vw;
        }
      }
    }

    .members-container {
      .big-title {
        padding-block: 4rem 1rem;
      }

      .members {
        margin-block: 2rem;

        .member-card {
          row-gap: 1rem;

          .accounts {
            display: flex;
            gap: 0.7rem;
            font-size: 2.6rem;

            .member-link {
              transition: all 0.4s;

              &:hover {
                transform: translateY(-3px);
              }
            }
          }
        }
      }
    }
  }

  /*============== RESPONSIVE DESIGN ==============*/
  /* First breakpoint */
  @media (max-width: 1200px) {
    .sub-landing-page {
      text-align: center;
      row-gap: 2.25rem;
      padding: 6rem 10%;

      .content {
        grid-template-columns: 1fr;
        row-gap: 1.75rem;
        place-items: center;

        .team-logo {
          width: 65%;
        }
      }
    }

    .swiper-button-prev,
    .swiper-button-next {
      display: none;
    }

    .team-container {
      .achievements {
        .achievements-slider {
          padding-bottom: 3.5rem;
        }

        .achievements__card {
          .achievements__img {
            height: 20vw;
          }
        }
      }
    }
  }

  /* Second breakpoint */
  @media screen and (max-width: 750px) {
    .sub-landing-page {
      .bg-image {
        background-position: -50px;
      }

      .content{
        .team-logo{
          padding: 1rem;
        }
      }

      .social {
        .social-media-button {
          font-size: 1rem;

          .icon {
            width: 3rem;
            height: 3rem;
            i {
              font-size: 1.25rem;
            }
          }
        }
      }
    }

    .team-container {
      .big-title {
        padding-block: 2rem 1rem;
      }

      .members-container {
        .big-title {
          padding-block: 2rem 0.5rem;
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    .team-container {
      .achievements {
        .achievements__card {
          .achievements__img {
            height: 40vw;
          }
        }
      }
    }
  }
}
