body {
  /*==== Reset CSS from the board-members to fit this page ====*/
  background-color: var(--first-color);
  /*============== SUBLANDING PAGE ==============*/
  /*============== WHITE-CONTAINER AREA ==============*/
  /*============== RESPONSIVE DESIGN ==============*/
  /* First breakpoint */
  /* Second breakpoint */
}
body .container {
  margin: 0 auto;
  max-width: 1800px;
}
body .sub-landing-page {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 2rem;
  padding: 6rem 12rem 2rem;
  min-height: 100vh;
}
body .sub-landing-page .bg-image {
  position: absolute;
  left: 0;
  z-index: -1;
  opacity: 0.04;
  filter: blur(0.5px);
}
body .sub-landing-page .content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 5rem;
       column-gap: 5rem;
}
body .sub-landing-page .content .team-logo {
  display: grid;
  place-items: center;
  padding: 2rem;
  border-radius: 50%;
  background-color: var(--text-color);
  box-shadow: rgba(255, 255, 255, 0.422) 0 0 35px;
}
body .sub-landing-page .content .team-logo img {
  height: 90%;
  filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.352));
}
body .sub-landing-page .content .main-description {
  display: grid;
  row-gap: 1rem;
}
body .sub-landing-page .content .main-description p {
  line-height: 1.5;
}
body .sub-landing-page .content .main-description .descriptions-wrapper p {
  margin-bottom: 0.4rem;
}
body .sub-landing-page .social {
  font-weight: var(--font-medium);
  margin: 0 auto;
}
body .sub-landing-page .social .social-media-button {
  display: inline-flex;
  align-items: center;
  margin-inline: 5px;
  font-size: 1.2rem;
  background-color: white;
  overflow: hidden;
  color: var(--first-color);
  border-radius: 50px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.378) 0px 5px 10px;
  transition: all 0.4s;
}
body .sub-landing-page .social .social-media-button .icon {
  display: grid;
  place-items: center;
  width: 4rem;
  height: 4rem;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}
body .sub-landing-page .social .social-media-button .icon i {
  font-size: 2rem;
  transition: all 0.5s ease-out;
}
body .sub-landing-page .social .social-media-button .social-text {
  width: 0;
  transition: width 0.4s, margin-right 0.4s;
}
body .sub-landing-page .social .social-media-button:hover {
  box-shadow: rgba(0, 0, 0, 0.633) 0px 0px 20px;
}
body .sub-landing-page .social .social-media-button:hover .social-text {
  margin-right: 1.1rem;
}
body .team-container {
  /*==== Achievements section ====*/
}
body .team-container .container {
  padding-top: 0;
}
body .team-container .big-title {
  text-align: center;
  padding-block: 4rem 2rem;
}
body .team-container .achievements .achievements-slider {
  width: 90%;
  padding-bottom: 6rem;
}
body .team-container .achievements .swiper-button-prev,
body .team-container .achievements .swiper-button-next {
  top: initial;
  bottom: 0.1rem;
  width: 50px;
  height: 50px;
  background-color: var(--first-color);
  color: var(--text-color);
  border-radius: 50%;
  transition: left 0.4s, right 0.4s, opacity 0.4s;
}
body .team-container .achievements .swiper-button-prev::after,
body .team-container .achievements .swiper-button-next::after {
  content: "";
}
body .team-container .achievements .swiper-button-prev {
  left: 38%;
}
body .team-container .achievements .swiper-button-prev:hover {
  left: 37.8%;
}
body .team-container .achievements .swiper-button-next {
  right: 38%;
}
body .team-container .achievements .swiper-button-next:hover {
  right: 37.8%;
}
body .team-container .achievements .swiper-pagination {
  bottom: 1.1rem;
}
body .team-container .achievements .swiper-pagination-bullet {
  opacity: 0.2;
  transition: opacity 0.6s;
}
body .team-container .achievements .swiper-pagination-bullet-active {
  background-color: var(--first-color);
  opacity: 1;
}
body .team-container .achievements .achievements__card .achievements__img {
  width: 100%;
  height: 13vw;
}
body .team-container .members-container .big-title {
  padding-block: 4rem 1rem;
}
body .team-container .members-container .members {
  margin-block: 2rem;
}
body .team-container .members-container .members .member-card {
  row-gap: 1rem;
}
body .team-container .members-container .members .member-card .accounts {
  display: flex;
  gap: 0.7rem;
  font-size: 2.6rem;
}
body .team-container .members-container .members .member-card .accounts .member-link {
  transition: all 0.4s;
}
body .team-container .members-container .members .member-card .accounts .member-link:hover {
  transform: translateY(-3px);
}
@media (max-width: 1200px) {
  body .sub-landing-page {
    text-align: center;
    row-gap: 3rem;
    padding: 6rem 7.5rem;
  }
  body .sub-landing-page .content {
    grid-template-columns: 1fr;
    row-gap: 3rem;
    place-items: center;
  }
  body .sub-landing-page .content .team-logo {
    width: 60%;
  }
  body .swiper-button-prev,
  body .swiper-button-next {
    display: none;
  }
  body .team-container .achievements .achievements-slider {
    padding-bottom: 3.5rem;
  }
  body .team-container .achievements .achievements__card .achievements__img {
    height: 20vw;
  }
}
@media screen and (max-width: 750px) {
  body .sub-landing-page {
    padding: 6rem 3.5rem;
  }
  body .sub-landing-page .bg-image {
    background-position: -50px;
  }
  body .sub-landing-page .social .social-media-button .icon {
    width: 3rem;
    height: 3rem;
  }
  body .sub-landing-page .social .social-media-button .icon i {
    font-size: 1.25rem;
  }
  body .team-container .big-title {
    padding-block: 2rem 1rem;
  }
  body .team-container .members-container .big-title {
    padding-block: 2rem 0.5rem;
  }
}
@media screen and (max-width: 600px) {
  body .team-container .achievements .achievements__card .achievements__img {
    height: 40vw;
  }
}/*# sourceMappingURL=main.css.map */